<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">On Campus Work</h1>
        <hr class="line">
        <p>On Campus Work</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/oncampus-work.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">On Campus Work</h3>
                        <p>Canada’s immigration friendly policy allows post-secondary students to work on the campus of their school or learning institute, without having the need to apply for a work permit. </p>
                        <p>Following points list out the conditions for a student to be eligible for a on-campus work without having to need a work permit:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The student should have a valid study permit.</li>
                            <li>The student should be a full time post-secondary student at a public post-secondary school, private college level school or a Canadian private school.</li>
                            <li>c.	The student must have a Social Insurance Number.</li>
                        </ol>

                        <p>By working on the campus, it means to work at a location within the premises of the post-secondary school campus. In order to work in the campus of the school, the candidate must be enrolled in a full - time studies at the same school.</p>
                        <p>For a school with more than one campus within the same city, a student with valid study permit canwork at any of the location. </p>
                       <p>For a school with multiple campuses in different cities, the student is eligible to work only in the campus where he or she is enrolled as a full-time student. However, the student can work on other locations if any of the following conditions are met:</p>
                       <ul>
                            <li>He or She is working as a teacher or a research assistant.</li>
                            <li>The student is involved in research work, such as in a library, hospital or research facility.</li>
                        </ul>
                       <p>Following list of employers can hire a student to work at any of school building:</p>
                       <ul>
                            <li>Faculty member of the institution</li>
                            <li>Any student organization</li>
                            <li>The school or institution</li>
                            <li>The student himself (herself) in case he (she) is involved in self business.</li>
                            <li>Private business</li>
                            <li>Private contractor providing on campus services</li>
                        </ul>
                        <h3>Social Insurance Number</h3>
                        <p>A SIN is a 9-digit number given by the Government of Canada.It makes the holder eligible to government benefits and services. To obtain a SIN for on-campus work, any of the following conditions should be met:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Meetseligibility criteria as perpoints f, v or w of Canadian immigration rule 186, to accept employment in-campus or off-campus.</li>
                            <li>Doesn’t engage in any kind of off-campus employment in Canada.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
