

<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Coop Work Permit</h1>
           <p>We don't need to say more about ourselves, as you will have lot
               more to say when you get acquainted with the V9 team.</p>
       </div>
       </div>
     </section>
<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/coop-work-permitjpg.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">Coop Work Permit</h3>
                        <p>Many colleges and educational institutions in Canada offer co-op or internship work programs for students to boost their knowledge and apply that knowledge in gaining real world industry experience.This also helps the students to manage their own expenses and update their resume with work experience and invaluable business contacts.</p>
                        <p>Given below are important points to be considered while applying for a co-op or intern work permit:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The student should have a valid study permit.</li>
                            <li>Work experience is an essential part of the study curriculum.</li>
                            <li>Internship is mandatory to obtain the degree certificate, as per a letter from the corresponding school.</li>
                            <li>Duration of the co-op placement or internship should be equal to or less than 50 percent of the study program.</li>
                        </ol>

                        <p>Following points make a foreign student ineligible for a co-op work permit:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>The student is enrolled in anEnglish or French language course.</li>
                            <li>He or She is taking general interest courses.</li>
                            <li>The student is registered in courses to prepare for another study program.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
