<div style="position: relative;">
    <div class="li"><a routerLink="/work/work-permit-extension" routerLinkActive="libg">Work Permit Extension</a></div>
    <div class="li"><a routerLink="/immigrate/startup-visa-prog" routerLinkActive="libg"> Start Up Visa Program </a></div>
    <div class="li"><a routerLink="/immigrate/self-employed-immigration-prog" routerLinkActive="libg"> Self Employed Immigration </a></div>
    <div class="li"><a routerLink="/immigrate/rural-immigration-pilot-prog" routerLinkActive="libg"> Rural and Northern Immigration Pilot </a></div>
    <div class="li"><a routerLink="/immigrate/refugees" routerLinkActive="libg"> Refugees </a></div>
    <div class="li"><a routerLink="/work/open-work-permit" routerLinkActive="libg"> Open Work Permit </a></div>
</div>    
