<section class="my-container main background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/about.jpg');">
 <div class="content">
        <div class="container">
            <h1 class="heading-allPages">About Us</h1>
            <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                 <span> &nbsp; | &nbsp;</span>
                 <span class="pages">About Us</span>
              </div>
    </div>
    </div>
  </section>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <header>
                <div class="text-small">
                   <!-- <h4 class="text-small-red ">ABOUT US</h4>-->
                    <h4 class="tm-custom-heading-blue">{{aboutv9.header}}</h4>
                </div>
                <div class="content-wrapper">
                    <p>{{aboutv9.text_content}}</p>
                </div>
            </header>
            <div class="ul_wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="tm-list tm-list-style-icon tm-list-icon-color-skincolor tm- tm-icon-skincolor tm-list-textsize- tm-list-icon-library-fontawesome vc_custom_1585778668771">
                            <li *ngFor="let l1 of list1"><i class="icon fa fa-arrow-circle-right"></i>
                                <span class="tm-list-li-content">{{l1.list}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="tm-list tm-list-style-icon tm-list-icon-color-skincolor tm- tm-icon-skincolor tm-list-textsize- tm-list-icon-library-fontawesome vc_custom_1585778512029">
                            <li *ngFor="let l2 of list2"><i class="icon fa fa-arrow-circle-right"></i> 
                                <span class="tm-list-li-content">{{l2.list}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="immg_wrapper">
                <div class="img-container">
                    <img [src]="aboutv9.img" style="width:100%">
                </div>
            </div>
        </div>

    </div>
    </div>
   <section class="bg" id="bg">
      <div class="row">
        <div class="col-md-4">

            <div class="immg_wrapper">
                <div class="img-container">
                    <img id="vission" [src]="ourmission.img">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <header id="mission">
                <div class="text-small">
                    <h4 class="heading-white">{{ourmission.header}}</h4>
                </div>
                <div class="p-content-wrapper">
                    <p class="visa-card-para" style="color: #cecdcd">{{ourmission.text_content}}</p>
                </div>
            </header>
        </div>

    </div>
    </section>
    <div class="container content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <header id="vission">
                <div class="text-small">
                    <h4 class="tm-custom-heading-blue">{{ourvission.header}}</h4>
                </div>
                <div class="p-content-wrapper">
                    <p>{{ourvission.text_content}}</p>
                </div>
            </header>
            </div>
            <div class="col-md-6">
            <div class="immg_wrapper">
                <div class="img-container">
                    <img [src]="ourvission.img" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>
<section  style="background-color:#fff">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <header>
                <div class="text-small" style="text-align:center;margin-bottom:24px;">
                        <h4 class="tm-custom-heading-blue">{{ourValues.header}}</h4>
                        <hr class="visa-hr">
                </div>
                <div class="content-wrapper" style="padding:25px;">
                    <p style="text-align:center;width:600px; margin: auto;">{{ourValues.sub_header}}</p>
                </div>
            </header>
    <div class="timeline">
            <div class="tm-container left">
            <div class="tm-content">
                <h2 class="visa-card-title">{{ourValues.text_content.commitment.title1}}</h2>
                <p>{{ourValues.text_content.commitment.description}}</p>
            </div>
            </div>
            <div class="tm-container right">
            <div class="tm-content">
                <h2 class="visa-card-title">{{ourValues.text_content.innovation.title1}}</h2>
                <p class="p-content-wrapper">{{ourValues.text_content.innovation.description}}</p>
            </div>
            </div>
        <div class="tm-container left">
          <div class="tm-content">
              <h2 class="visa-card-title">{{ourValues.text_content.integrity.title1}}</h2>
            <p class="p-content-wrapper"> {{ourValues.text_content.integrity.description}}</p>
          </div>
        </div>
        <div class="tm-container right">
          <div class="tm-content">
              <h2 class="visa-card-title">{{ourValues.text_content.ownership.title1}}</h2>
            <p> {{ourValues.text_content.ownership.description}}</p>
          </div>
        </div>
        <div class="tm-container left">
            <div class="tm-content">
                <h2 class="visa-card-title">{{ourValues.text_content.passion.title1}}</h2>
              <p class="p-content-wrapper"> {{ourValues.text_content.passion.description}}</p>
            </div>
          </div>
          <div class="tm-container right">
            <div class="tm-content">
                <h2 class="visa-card-title">{{ourValues.text_content.perserverance.title1}}</h2>
              <p>  {{ourValues.text_content.perserverance.description}}</p>
            </div>
          </div>
          <div class="tm-container left">
              <div class="tm-content">
                  <h2 class="visa-card-title">{{ourValues.text_content.teamwork.title1}}</h2>
                <p class="p-content-wrapper">{{ourValues.text_content.teamwork.description}}</p>
              </div>
            </div>
            <div class="tm-container right">
              <div class="tm-content">
                  <h2 class="visa-card-title">{{ourValues.text_content.transparency.title1}}</h2>
                <p> {{ourValues.text_content.transparency.description}}</p>
              </div>
            </div>

      </div>
    </div>
  </div>
  </div>
</section>
<div class="my-container mainbg background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <header>
                        <div class="tm-vc_cta3-headers tm-wrap-cell">
                            <!-- <p class="text-small-white ">WHO WE ARE</p> -->
                            <h3 class="heading-white ">We don't need to say more about ourselves, as you will have lot
                                more to say when you get acquainted with the V9 team.</h3>
                        </div>
                    </header>
                </div>
                <div class="bgBanner">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="./assets/content/team-img.jpg" />
                        </div>
                        <div class="col-sm-6">
                                <div class="side-content">
                                    <header >

                                            <h3 style="font-size:30px;line-height:40px;color:#000;font-family:'Poppins',Arial,Helvetica;font-weight:600;"
                                                class="tm-custom-heading ">Govardhan Sai Venkat, Venna</h3>
                                            <h4 class="text-small-red">CEO &amp; Founder- V9 Immigration Inc.</h4>

                                    </header>
                                    <div class="content-wrapper">
                                        <p align="justify">Govardhan Sai Venkat, Director of V9 Immigration is Regulated
                                            Canadian Immigration Consultant (R519344) offers right advice to Immigrate,
                                            Study, Work, Visit to Canada and having great success due to his ethics,
                                            professional knowledge and friendly nature. He handles every case
                                            individually and directs his professionally qualified team members. Hailed
                                            from a family of legal professionals from India, Govardhan knows the
                                            challenges new immigrants face in a new community, new country like Canada
                                            to study, work, live or visit.</p>
                                        <p align="justify">V9 specialized in immigration to Canada for independent
                                            applicants and businesses. V9 is 100% committed to giving clients our full
                                            support at every step of the immigration process. We recognize that every
                                            individual has a specific need and choice and that is why we treat every
                                            individual with the utmost care and respect.</p>
                                        <p></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

