<!--<div class="container home-mar-top">
  <div class="row">
    <div class="col-md-3">
      <div class="feature-blurb-block">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Apply for Visa</h3>
          <p class="feature-blurb-text">Find information and begin your application.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" routerLink="/home/upload" class="btn-link">Start Apply Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block-odd">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Book an appointment</h3>
          <p class="feature-blurb-text">Schedule your appointment with us.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Find a centre</h3>
          <p class="feature-blurb-text">Information about your local centre.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Find Centre Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block-odd">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Premium services</h3>
          <p class="feature-blurb-text">Enjoy a faster, more easy and more fast application.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">View Service</a>
        </div>
      </div>
    </div>

  </div>
</div>-->
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<br/>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header>
          <div class="text-small">
            <h4 class="text-small-red">OUR GOALS</h4>
            <hr class="visa-hr" style="width: 54px; margin-left: 0;">
            <h4 class="tm-custom-heading-blue ">Drive More Customers Through Digital</h4>
          </div>
          <div class="content-wrapper">
            <p class="visa-card-para">The Canadian federal government has announced that it will be admitting more than one million new immigrants
              over the next three years With more than 70 immigration programs, choosing the one that will give you the best
              chance of success can be confusing. In this post, we break down the easiest ways to immigrate to Canada, saving
              you time and allowing you to get started on the application process today!
            </p>
          </div>
        </header>

      </div>

      <div class="col-md-8">
        <div class="row">


          <div class="col-md-4">
            <img class="animatedssecond" src="./assets/content/post-two.jpg">
          </div>
          <div class="col-md-8">
            <img class="animated" src="./assets/home2.jpg">
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="hero">
  <div class="container">
    <div class="diagonal-hero-bg">
      <div class="stars">
        <div class="small"></div>
        <div class="medium"></div>
        <div class="big"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <header>
          <div class="text-small">
            <h4 class="text-small-white ">ABOUT V9 IMMIGRATION</h4>
            <h3 class="heading-white ">We Work with you to address your most critical business priorities</h3>
          </div>
        </header>
        <p class="p-content-wrapper" style="color: antiquewhite;">V9 Immigration Services, The leading immigartion service provider in Canada and india. With immense experience of
          client servicing and facilitating to achieve their dreams, v9 Immigartion Services has carved his own elite niche
          for providing the best immigartion services. V9 Immigartion services is the leader in the market for two things;
          first its honesty and tranparency while dealling with the clients and second its accuracy and effeciency while
          workingfor the clients </p>
        <div class="marginTopCls hero-text ">
          <button>
            <a class="acnchor-tag" routerLink="/about">Read More</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg">
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="text-small">
          <h4 class="text-small-white ">WHY CHOOSE US</h4>
          <h3 class="heading-white ">Since our founding, our primary goal has been to provide immigration in all over country and universities. Our
            impact is speak louder than our word</h3>
        </div>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" src="./assets/icons/home6_icon1.png">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count" data-suffix="+">480</span>
                </h2>
                <p class="text-small-white">Student</p>
                <p class="visa-card-para">National top 50 consulting firms</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" src="./assets/icons/home6_icon2.png">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count" data-suffix="+">480</span>
                </h2>
                <p class="text-small-white">Immigration</p>
                <p class="visa-card-para">99.9% client satisfaction</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style3" src="./assets/icons/home6_icon3.png">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count" data-suffix="+">480</span>
                </h2>
                <p class="text-small-white">Succsessful Customers</p>
                <p class="visa-card-para">2,000+ Business Cases</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" src="./assets/icons/home6_icon4.png">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count" data-suffix="+">480</span>
                </h2>
                <p class="text-small-white">Country</p>
                <p class="visa-card-para">Operated in 15+ Countries</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container home-mar-top">
    <div class="text-center">
      <h3 class="feature-blurb" class="tm-custom-heading-blue">Immigration Service for You</h3>
      <hr class="visa-hr">
      <p>Our experts are able to find new growth opportunities in your business. sodales erat et libero ultricies auctor et
        rhoncus sapien. </p>
    </div>

    <br/>


    <div class="row">
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/content/parents.jpg'" [link]="'/familySponsership'" [visatitle]="'Family Sponsorship'" [visasummary]="'As mentioned by the minister on 11-Jan-2019 Family reunification is always an immigration priority for the Government of Canada as it supports economic prosperity and strengthens the communities'"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/Work-Visa-Policy-Change.jpg'" [link]="'/employee-specific-work-permit'" [visatitle]="'Work Visa'"
          [visasummary]="'Canada is one of the worlds fastest growing economy, actively seeking to bring foreign skilled workers to fill labour and skills shortage for the Canadian employers where citizens and permanent residents are not available.'"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/study-visa.jpg'" [link]="'/coming-soon'" [visatitle]="'Study Visa'" [visasummary]="'Many students choose Canada over other developed countries as students receive top quality education, affordable fees, cost of living and respect, preparing them for the professional needs, to enhance the careers in Canada and abroad.'"></app-visa>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/travel-visa.jpg'" [link]="'/coming-soon'" [visatitle]="'Visit Visa'" [visasummary]="'Canada-The world’s second largest country is a significant tourist attractor, which is a home of Polar bears, 17 UNESCO heritage sites, 100’s of breweries, hiking, icebergs, whale watching and many more to do.'"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/working-visa.jpg'" [link]="'/coming-soon'" [visatitle]="'Citizenship Visa'" [visasummary]="'Citizenship means a lot. Many permanent residents want to get Canadian Citizenship. They are proud to say it is home as it provides the status, rights, pride, security, safety and freedom.'"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="'./assets/Canada-e1575328774497.jpg'" [link]="'/coming-soon'" [visatitle]="'Other Visa'" [visasummary]="'In addition to above we have a wide range of services that will help you to successfully immigrate and live in Canada. Check out our other services including GCMS, PR Card renewals, settlement, services etc.'"></app-visa>
      </div>
    </div>
  </div>
</section>
<section>
  <div style="width: 450px; margin:auto; text-align: center;">
    <p class="text-center carousel-small">HOW IT WORK</p>
    <hr class="visa-hr" style="width: 54px; ">
    <h4 style="text-align: center;" class="tm-custom-heading-blue">Three Simple Step To Started Working Process</h4>
  </div>
  <div class="themetechmount-boxes-row-wrapper tm-processbox-wrapper">
    <div class="container">

      <div class="row">
        <div style="margin-top: -30px; margin-left: 0;" class="col-md-4 col-lg-4 col-sm-12 text-left">
          <div class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">01</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Discussion</h5>
              </div>
              <div class="tm-box-description">Suggest the best immigration program suitable for the client needs.</div>
            </div>
          </div>
        </div>
        <div style="margin:auto" class="col-md-4 col-lg-4 col-sm-12 text-center">
          <div style="margin-top: 40px;" class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">02</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Documentation</h5>
              </div>
              <div class="tm-box-description">Collect all the required documents, evaluate, verify and analyze.</div>
            </div>
          </div>
        </div>
        <div style="margin-right: 0;" class="col-md-4 col-lg-4 col-sm-12 text-right">
          <div class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">03</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Submission</h5>
              </div>
              <div class="tm-box-description">submits to CIC (Citizenship & Immigration Canada) or respective Canadian visa offices.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section style="padding:0" class="bgHomeContact background">
  <div class="">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">

          <div class="slideshow-container">

            <div class="mySlides">
              <img class="img-container" src="./assets/blogs/review-img-150x150.jpg" />
              <div style="padding:20px">
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star" style="font-size: 20px;"></span>
                <span class="fa fa-star" style="font-size: 20px;"></span>
              </div>
              <div class="quotes">
                <q>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</q>
              </div>
              <div class="authorCls bold-class">- John Keats</div>
              <div class="title">Business man</div>
            </div>

            <div class="mySlides">
                <img class="img-container" src="./assets/family.jpg" />
                <div style="padding:20px">
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star" style="font-size: 20px;"></span>
                  <span class="fa fa-star" style="font-size: 20px;"></span>
                </div>
                <div class="quotes">
                  <q>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</q>
                </div>

                <div class="authorCls">- Tony Keats</div>
                <div class="title">John Keats</div>
            </div>

            <div class="mySlides">
              <img class="img-container" src="./assets/blogs/review-img-150x150.jpg" />
              <div style="padding:20px">
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star checked" style="font-size: 20px;"></span>
                <span class="fa fa-star" style="font-size: 20px;"></span>
                <span class="fa fa-star" style="font-size: 20px;"></span>
              </div>
              <div class="quotes">
                <q>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</q>
              </div>
              <div class="authorCls bold-class">- John Keats</div>
              <div class="title">Business man</div>
            </div>

            <div class="mySlides">
                <img class="img-container" src="./assets/family.jpg" />
                <div style="padding:20px">
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star checked" style="font-size: 20px;"></span>
                  <span class="fa fa-star" style="font-size: 20px;"></span>
                  <span class="fa fa-star" style="font-size: 20px;"></span>
                </div>
                <div class="quotes">
                  <q>If you can offer a free tier that provides a lot of value, it will naturally help your product to spread much more rapidly</q>
                </div>

                <div class="authorCls">- Antony Keats</div>
                <div class="title">John Keats</div>
            </div>

            <a class="prev" (click)="plusSlides(-1)">❮</a>
            <a class="next" (click)="plusSlides(1)">❯</a>

          </div>

          <div class="dot-container">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>