$desktop:840px;
@mixin desktop {
    @media(max-width:#{$desktop}){
        @content;
    }
}
.home-mar-top{
    background-color: #ffffff;
    position: relative;
}
.feature-blurb-block {
    padding: 30px;
}
.feature-blurb-block-odd {
    padding: 30px 0;
}
.feature-blurb-title{
    font-size: 20px;
}
.feature-blurb-title{
    font-size: 25px;
}
.btn-link {
    font-size: 14px;
    color: #1c1e20;
    font-weight: 400;
    border-bottom: 2px solid #333;
    padding-bottom: 6px;
}
.icon-bar {
  position: fixed;
  top: 60%;
  right:0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
}

.icon-bar a:hover {
  background-color: #000;
}

img.icon-style{
  width:80px !important;
  height:80px !important;
  text-align:center;margin: 0 0 30px;
}
img.icon-style3{
  width:50px !important;
  height:70px !important;
  margin: 0 0 30px;
}
.impact-block{
  color:#fff;
  text-align:center;
}
span.counterup::after{
  content: attr(data-suffix);
}
img.animated{
  position: relative;
  max-width:480px;
  width:480px;
  animation: mymove 5s infinite;
  left: 16%;
}
img.animatedssecond{
  max-width:350px;
  width:350px;
  position: absolute;
  z-index: 99;
  animation: mymovenew 5s infinite;
}
@keyframes mymove {
  from {bottom: 50px;}
  to {bottom: 110px;}
}
@keyframes mymovenew {
  from {top: 20px;}
  to {top: 100px;}
}

//animation
.hero {
  display: inline-block;
  width: 100%;
  height: 500px;
  position: relative;

}

.diagonal-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
// creates randomized star sizes
@function stars($n) {
  $value: '#{random(2000)}px #{random(2000)}px #767676';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #767676';
  }
  @return unquote($value);
}

// store random stars
.hero {
  display: inline-block;
  width: 100%;
  height: 450px;
  position: relative;

}
.diagonal-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #0b0c26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

// creates randomized star sizes
@function stars($n) {
  $value: '#{random(2000)}px #{random(2000)}px #767676';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #767676';
  }
  @return unquote($value);
}

// store random stars
$stars-small: stars(700);
$stars-medium: stars(200);
$stars-big: stars(100);


.stars {
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  animation: starsAnimation 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
  }
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  animation: starsAnimation 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
  }
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  border-radius: 100%;
  animation: starsAnimation 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    border-radius: 100%;
  }
}

// swap from/to values to reverse animation
@keyframes starsAnimation {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}

@media screen and (max-width:800px){
  .diagonal-hero-bg{
    height: 100%;
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 74%, 80% 100%, 20% 100%, 0 100%, 0 0) !important;
  }
 .hero  {
    height: auto;
  }
}
.bgHomeContact{
  background-image: url('/assets/content/map-bg-image.jpg');
  height:auto;
}
.contactBorder{
 border: 1px solid #fff;
 margin:20px 0px;
 padding:20px;
}
.icon-bar-fa{
 font-size: 20px;
 margin-right:20px;
}
//slider
.slideshow-container {
  position: relative;
 // background: #f1f1f1f1;
 img{
  transition: .5s;
   border-radius: 50%;
    margin: auto;
    float: none;
    display: block;
    width:100px;
    height:100px;
    border: 2px solid #fff;
 }
}

/* Slides */
.mySlides {
  display: none;
  padding: 49px;
  text-align: center;
  transition: .5s;
  div.quotes{
    font-size:18px;
    text-align: center;
    padding: 0 25px;
    color: #fff;
    margin: 12px 10px 33px;
    font-style: italic;
    font-weight: 400;
  }
}
.stars{
  padding-top:20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  background: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #ffffff;
}
.checked {
  color: #fff;
}
/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.authorCls:first-child {
 color: #fff;font-weight:400;
 font-size:17px;
}
.authorCls{
  color: #fff;font-weight:400;
  font-size:17px;
 }
 .title{
  color: #fff;
  font-size:14px;
 }
.fa-start{
  font-size: 20px;
}
