<div class="container home-mar-top">
    <div class="row">
        <div class="col-md-3">
            <div class="feature-blurb-block">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Apply for Visa</h3>
                    <p class="feature-blurb-text">Find information and begin your application.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" routerLink="/home/upload" class="btn-link">Start Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block-odd">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Book an appointment</h3>
                    <p class="feature-blurb-text">Schedule your appointment with us.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Find a centre</h3>
                    <p class="feature-blurb-text">Information about your local centre.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Find Centre Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block-odd">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Premium services</h3>
                    <p class="feature-blurb-text">Enjoy a faster, more easy and more fast application.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">View Service</a>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div class="text-center">
        <h3 class="feature-blurb">Immigration Service for You</h3>
        <p>Our experts are able to find new growth opportunities in your business. sodales erat et libero ultricies auctor et rhoncus sapien. </p>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/Canada-permanent-resident.jpg'" [visatitle]="'Permanent Residence'" [visasummary]="'Are you looking to become a Canada permanent resident? You are not alone. There are about 55-60 different Canadian immigration programs under which a person can apply to become a Canada permanent resident.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/Work-Visa-Policy-Change.jpg'" [visatitle]="'Work'" [visasummary]="'Canada is one of the worlds fastest growing economy, actively seeking to bring foreign skilled workers to fill labour and skills shortage for the Canadian employers where citizens and permanent residents are not available.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/study-visa.jpg'"[visatitle]="'Study'" [visasummary]="'Many students choose Canada over other developed countries as students receive top quality education, affordable fees, cost of living and respect, preparing them for the professional needs, to enhance the careers in Canada and abroad.'" ></app-visa>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/travel-visa.jpg'" [visatitle]="'Visit'" [visasummary]="'Canada-The world’s second largest country is a significant tourist attractor, which is a home of Polar bears, 17 UNESCO heritage sites, 100’s of breweries, hiking, icebergs, whale watching and many more to do.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/working-visa.jpg'" [visatitle]="'Citizenship'" [visasummary]="'Citizenship means a lot. Many permanent residents want to get Canadian Citizenship. They are proud to say it is home as it provides the status, rights, pride, security, safety and freedom.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/Canada-e1575328774497.jpg'" [visatitle]="'Other'" [visasummary]="'In addition to above we have a wide range of services that will help you to successfully immigrate and live in Canada. Check out our other services including GCMS, PR Card renewals, settlement, services etc.'"></app-visa>
        </div>
    </div>
</div>