.picsum-img-wrapper1{
    width: 100%;
}
.main{
  margin:0;
  .img{
     clip-path: polygon(0 1%, 100% 1%, 100% 79%, 0% 100%);
      width: 100%;
      margin-top: -9px;
      z-index:-1;
      width:100%;
      background-repeat: no-repeat;
      background-size:100% 100vh;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
  }
  &:focus{
    outline: none;
  }
}
.carousel-caption{
  top:35% !important;
 /* background: #3d3d4459;
  bottom:54% !important;*/
  h3{
    font-size: 50px
  }
}


