<ngb-carousel *ngIf="images" >
    <ng-template ngbSlide>
      <div class="main">
          <img class="img picsum-img-wrapper1" src="./assets/home-main-slider2.jpg" alt="WE SHOW YOU">
      </div>
      <div class="carousel-caption">
        <table style="height: 100%;"><tr><td class="carousel-caption-table-cell">
          <p class="carousel-small text-left">WE SHOW YOU</p>
          <h3 class="carousel-textcolor text-left">Fastest Way to  <br/>Achieve Your Goal</h3>
          <p class="carousel-textcolor">Comprehensive immigration advice and post arrival services<br/>
            that are tailored to meet your individual needs.
          </p>
          <div class="hero-text">
              <button class="carousel-btn-background">
                <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
              </button>
            </div>
        <!--  <a routerLink="/our-services"><button class="btn carousel-btn-background">Our Services</button></a>-->
        </td><td class="carousel-caption-table-cell mobile-hide"></td></tr>
        </td><td class="carousel-caption-table-cell"></td></tr>
      </table>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/home-main-slider3.jpg" alt="BUSINESS IMMIGRATION">
      </div>
      <div class="carousel-caption">
        <table style="height: 100%;"><tr><td class="carousel-caption-table-cell">
          <div class="carousel-content">
            <p class="carousel-small text-left">BUSINESS IMMIGRATION</p>
            <h3 class="carousel-textcolor text-left mobile-hide">Manage and Grow <br/>Your Business with us</h3>
            <h3 class="carousel-textcolor text-left">Manage and Grow <br/>Your Business with us</h3>
            <div class=" hero-text">
                <button class="carousel-btn-background">
                  <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
                </button>
              </div>
           <!--<a routerLink="/our-services"><button class="btn carousel-btn-background">Our Services</button></a>-->
          </div>
        </td><td class="carousel-caption-table-cell mobile-hide"></td></tr>
        </td><td class="carousel-caption-table-cell"></td></tr>
        </table>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/home-main-slider4.jpg"  alt="Best immigration advice">
      </div>
      <div class="carousel-caption">
        <table style="height: 100%;"><tr><td class="carousel-caption-table-cell"></td><td class="carousel-caption-table-cell">
            <p class="carousel-small">GREAT EXPERIENCE</p>
            <h3 class="carousel-textcolor3 mobile-hide">We Provide The Best <br/>Immigration Advice</h3>
            <p class="carousel-textcolor3 mobile-hide">We have professional consultants who provide Quality<br/>
            <h3 class="carousel-textcolor3">We Provide The Best <br/>Immigration Advice</h3>
            <p class="carousel-textcolor3">We have professional consultants who provide Quality<br/>
              services that’s free of stress and confusion in time.
            </p>
            <div class=" hero-text">
                <button class="carousel-btn-background">
                  <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
                </button>
                <button class="carousel-btn-background3">
                    <a class="acnchor-tag" routerLink="/contact-us">Contact Us</a>
                  </button>
              </div>
           <!-- <p><a routerLink="/our-services"><button class="btn carousel-btn-background">Our Services</button></a>&nbsp;
              <a routerLink="/contact-us"><button class="btn carousel-btn-background3">Contact Us</button></a>
            </p>-->
          </td></tr></table>
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/rawpixel-682403-unsplash.jpg" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-header">And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>
