.picsum-img-wrapper1{
    width: 100%;
    max-height: 350px
}
.main{
  margin:0;
  .img{
     clip-path: polygon(0 1%, 100% 1%, 100% 79%, 0% 100%);
      background-color:red;
      width: 100%;
      margin-top: -8px;
      z-index:-1;
      min-height:600px;
  }
  &:focus{
    outline: none;
  }
}
.carousel-caption{
  top:25% !important;
 /* background: #3d3d4459;
  bottom:54% !important;*/
}
