<ngb-carousel *ngIf="images" >
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/bg1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="carousel-header">World Most Trusted Immigration Company</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/bg2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/bg3.jpg"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/rawpixel-682403-unsplash.jpg" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
