<div class="row">
    <div class="col-md-12 col">
    <div class="backImg">
    <div class="mainBg">
        <div class="float-left">
                <button class="openbtn" (click)="openNav()">☰</button>           
        </div>
        <div class="float-right alignCls">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Logout</a>
                </li>
            </ul>
        </div><span class="clearFix"></span>
    </div>
    <div id="mySidepanel" class="sidepanel" #sideMenu>
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
        <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      </div>
</div>
</div>
</div>

    <app-graph></app-graph>
 
