
<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Labour Marker Impact Assessments (LMIA)</h1>
       </div>
       </div>
     </section>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/Labour-Marker-Impact-Assessments-LMIA.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Labour Marker Impact Assessments (LMIA)</h3>
                        <p>The Labour Market Impact Assessment is a technique used by the Canadian Government to make sure a transparent and fair process is used in hiring foreign workers in Canada. A positive LMIA ensures the following conditions:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>There is a positive or neutral effect of hiring the foreign worker, on Canadian labour market.</li>
                            <li>Qualified and deserving local Canadians are given preference over foreign candidates.</li>
                            <li>Salary and other related benefits of the foreign workers should be at par with federal and provincial rules and regulations.</li>
                            <li>No employer has laid off nor reduced the working hours of Canadian workers at the same position as the foreign workers.</li>
                            <li>Efforts are made to post advertisements for under-represented Canadians such as First Nations or disabled persons.</li>
                        </ol>

                        <p>The process of LMIA depends on the salary structure of the potential employee, classified as low-wage or high-wage.</p>

                        <h3 class="allPages-heading"> High Wage Workers</h3>
                        <p>Temporary foreign workers paid at or above provincial/territorial median wage are said to be at high-wage salary. Employers who are willing to hire high wage foreign workers must submit transition plans along with the LMIA application. This is to make sure the employer has taken enough efforts and investment in imparting skills training or hiring Canadian candidates. Also, the employer must make sure encourage the hired foreign workers in becoming Canadian permanent residents. Purpose behind the transition plan is to make sure the employer is using hiring of the foreign workers as the last option due to unavailability of qualified potential Canadians.</p>


                        <h3 class="allPages-heading">Low Wage Workers</h3>
                        <p>Temporary foreign workers paid under the provincial/territorial median wage are low wage workers. To ensure priority given to local Canadian citizens, the Canadian Government has introduced the following rules:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>A threshold has been applied to limit the number of foreign workers hired.</li>
                            <li>Certain low wage occupations are denied LMIA processing.</li>
                        </ol>

                        <p>The submission of LMIA for low wage skilled occupations in Accommodation and Food Services sector and the Retail Trade sector, depends upon the employment rates in regions across Canada. LMIA applications for regions with employment rate equal to or above 6 percent will not be processed.</p>

                        <h3 class="allPages-heading">Steps in LMIA</h3>
                        <p> Below steps are mandatory for an employer wishing to hire a foreign worker:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>A processing fee of 1000 Canadian dollars must be paid for each request of an LMIA.</li>
                            <li>Employers should advertise all job vacancies for at least 4 weeks before applying for LMIA and use at least two other hiring methods other than posting advertisements. Click here to know about the advertisement requirements for different occupations.</li>
                            <li>The Employment and Social Development Canada (ESDC) makes a final decision as to issue a positive LMIA based upon the following factors:
                                <ul  class="ul-li-before-img">
                                    <li>Effect of hiring foreign workers on the Canadian labour market.</li>
                                    <li>Salary and working conditions offered to the foreign candidate.</li>
                                    <li>Availability of Canadian citizens and permanent residents for the given work.</li>
                                    <li>Advantage of hiring the foreign worker, like transfer of valuable knowledge and skills.</li>
                                    <li>Positive impact of hiring foreign workers on employment in Canada.</li>
                                </ul>
                            </li>
                            <li>The positive LMIA will be then issued to the Citizenship and Immigration Canada (CIC) which would inform the employer regarding the final LMIA decision.</li>
                            <li>Once the LMIA is obtained, it is sent to the foreign worker to be submitted along with the work permit application.</li>
                            <li>Once the foreign worker receives the LMIA, he/she should submit the work permit application along with the LMIA, within 6 months only, else a fresh LMIA would be required.</li>
                            <li>The foreign worker will be then issued any of the following duration of employments or validity periods of work permit granted using LMIA:
                                <ul class="ul-li-before-img">
                                    <li>Temporary duration to support only work permit.</li>
                                    <li>Permanent duration supporting a permanent residence application. Issued work permit would be valid for maximum of 2 years and is not extensible.</li>
                                    <li>Both temporary and permanent duration for supporting permanent application and work permit application both.</li>
                                </ul>
                            </li>
                            <li>As per the new LMIA form, EMP5602, employers must inform Service Canada in case of any changes to the employment terms and conditions for the worker. In case of changes being accepted, the LMIA would be updated. In other cases, the employer may have to apply for an LMIA.</li>
                        </ol>
                        <h3 class="allPages-heading">Quebec Specific Exemptions</h3>
                        <p>Below given category of foreign workers are exempted from having to require LMIA in the process of Quebec:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Holders of Quebec Selection Certificate (CSQ): Individuals who have been approved for immigration to the province of Quebec are issued the Quebec Selection Certificate or Certificat de selection du Quebec.  The holders of CSQ do not require their employer to have the LMIA.</li>
                            <li>Facilitated LMIA Occupations: Certain occupations having high demand for labour are included in the list of facilitated LMIA occupations. The employers involved in these occupations are exempted from showing advertisements and recruitment efforts.</li>
                            <li>Other Category: Other than the above two categories, foreign workers in Quebec can also apply for the Certificat d’Acceptation du Quebec (Certificate of Acceptance to Quebec, CAQ), and temporary work permit before commencement of their employment.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
