
<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Atlantic Immigration Pilot Program</h1>
           <p>We don't need to say more about ourselves, as you will have lot
               more to say when you get acquainted with the V9 team.</p>
       </div>
       </div>
     </section>
<div class="container ">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img class="img-container" src="./assets/content/Atlantic-Immigration-Pilot-Program.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="tm-custom-heading ">Atlantic Immigration Pilot Program</h3>
                        <p>To encourage identification, recruitment and retaining global talent, the Canadian federal government and few Atlantic provincial governments have come up with a new scheme, since 2017, to hire foreigners for local jobs. The aim is to enhance population growth, develop skilled workforce and increase employment rates by 2021.</p>
                        <p>The pilot program is focussed on the following 5 priority areas:</p>
                        <ol class="ordered-list-alpha">
                            <li>Skilled workforce and immigration.</li>
                            <li>Trade and investment</li>
                            <li>Infrastructure</li>
                            <li>Innovation</li>
                            <li>Clean growth and climate change</li>
                        </ol>

                        <p>The Atlantic Immigration Pilot program requires the below given mandatory fulfilments for both the employer as well as the applicant:</p>
                        <ol class="ordered-list-alpha">
                            <li>The applicant must have a valid job offer and an individualized settlement plan.</li>
                            <li>The employer should assist the candidate in developing a settlement plan by connecting to a designated settlement service provider organization.</li>
                            <li>The employer must also support the long-term integration plan of the immigrant and his/her family.</li>
                            <li>For urgent requirement of potential candidates, the employer can file for temporary work permit for the candidates, for which they require the following: valid job offer, provincial letter, and commitment to apply for permanent residence within 90 days of temporary work permit application.</li>
                            <li>Employers with multiple branches in different provinces should receive designation from each province to facilitate hiring of skilled immigrants.</li>
                            <li>If the employer finds a potential candidate for the concerned position, the job offers, settlement plan (for the candidate) and an endorsement application should be sent to the province for review. Once, the application is approved, the province sends the applicant an endorsement letter included with the immigration application.</li>
                        </ol>
                        <p>Below given section highlights mandatory requirements for employers in each province to obtain designation by the respective province:</p>
                        <h3>Prince Edward Island AIPP Requirements</h3>
                        <ol class="ordered-list-alpha">
                            <li>The employer should be willing to hire full time international candidates.</li>
                            <li>The employer should be in compliance with provincial and federals rules and regulations.</li>
                            <li>The employer must display required readiness in receiving and meeting settlement needs for the potential candidates and his/her accompanying family members.</li>
                            <li>The designation application form should be completed before applying for endorsement of the potential foreign candidate.</li>
                        </ol>

                        <h3>Nova Scotia AIPP Requirements</h3>
                        <p>The employer must meet the following requirements to get designated:</p>
                        <ol class="ordered-list-alpha">
                            <li>The business should be in compliance with the province rules and regulations.</li>
                            <li>The employer should provide information on the labour requirements.</li>
                            <li>The employer should prove enough commitment for collaborating with a settlement service provider organization.</li>
                        </ol>

                        <p>The employer should meet the following conditions to get endorsed:</p>
                        <ol class="ordered-list-alpha">
                            <li>Provide enough proofs to establish locals have been preferred and subsequent hiring was unsuccessful.</li>
                            <li>Hire a foreign national.</li>
                            <li>Provide an individual settlement plan co-signed with the international candidate.</li>
                            <li>Provide a valid, full time job offer signed along with the candidate.</li>
                        </ol>
                        <h3>New Brunswick AIPP Requirements</h3>
                        <ol class="ordered-list-alpha">
                            <li>The employer should be ready to hire non-seasonal, full time candidates.</li>
                            <li>The business should be well established and at par with standards and regulations.</li>
                            <li>Employer should be meet settlement needs of international workers and their accompanying family members</li>
                        </ol>

                        <h3>Newfoundland and Labrador AIPP Requirements</h3>
                        <p>Similar to other Atlantic provinces, the following conditions are laid for the employer to get designated:</p>
                        <ol class="ordered-list-alpha">
                            <li>Hiring full time and non-seasonal international candidates</li>
                            <li>Established business, and in compliance with provincial rules and regulations.</li>
                            <li>Display sufficient readiness to meet settlement requirements for international candidates and their accompanying family members.</li>
                            <li>In agreement with reporting requirements of the program.
                        </ol>

                        <h3>AIPP Programs</h3>
                        <p>The Atlantic Immigration Pilot program supports the following programs for both skilled workers and international student graduates:</p>
                        <ol class="ordered-list-alpha">
                            <li>Atlantic High-skilled Program (AHSP)</li>
                            <li>Atlantic Intermediate Skilled Program (AISP)</li>
                            <li>Atlantic International Graduate Program (AIGP)</li>
                        </ol>

                        <h3>Atlantic High Skilled Program (AHSP)</h3>
                        <p>The Atlantic High Skilled Program is applicable to international federal skilled workers willing to work and settle in any of the 4 Atlantic provinces of Canada.</p>
                        <p>The list below illustrates mandatory requirements for each Atlantic province:</p>
                        <ol class="ordered-list-alpha">
                            <li>Job Offer</li>
                            <li>Work Experience</li>
                            <li>Language Ability (CLB 4 or higher)</li>
                            <li>Education</li>
                            <li>Proof of Funds</li>
                        </ol>

                        <h3>Job Offer</h3>
                        <p>Potential foreign candidates for AHSP should have a job offer which meets the following requirements:</p>
                        <ol class="ordered-list-alpha">
                            <li>The job offer is from a designated employer.</li>
                            <li>The position is for a non-seasonal and full-time employment opportunity.</li>
                            <li>The position belongs to any of the following skilled categories – managerial, professional and technical trades at skill type 0, A or B of the National Occupational Classification (NOC)</li>
                            <li>The job offer is supported by valid endorsement letter from the province which supports its authenticity and the confirmation that needs assessment is completed and settlement plan is available for the applicant and his/her family members.</li>
                        </ol>

                        <h3>Work Experience</h3>
                        <p>Potential candidates applying for the AHSP should prove at least a year of working experience in a non-continuous, full-time or an equivalent part-time opportunity within the past 3 years. </p>
                        <ol class="ordered-list-alpha">
                            <li>The work experience should be in a paid work such as volunteer work.</li>
                            <li>The work experience is for a managerial, professional, or technical/trades position (NOC 0, A, or B)</li>
                            <li>The experience must include the relevant mandatory activities listed in the lead statement of NOC description and also other main duties.</li>
                            <li>The foreign national should have a Canadian experience as a temporary resident.</li>
                            <li>The applicant need not be employed at the time of application.</li>
                            <li>Any kind of self-employment would not be included as a work experience.</li>
                            <li>Work experience during period of study is calculated provided the work hours are within the allowed period.</li>
                        </ol>

                        <h3>Education</h3>
                        <p>An AHSP applicant should meet any of the following educational criteria:</p>
                        <ol class="ordered-list-alpha">
                            <li>Canadian secondary (high school) or post-secondary certificate, diploma or degree</li>
                            <li>Completed foreign educational credential.</li>
                            <li>An Educational Credential Assessment (ECA) for candidates with education outside Canada, to prove level of education is at par with Canadian standards. Also, the ECA should not be more than 5 years at the time of application.</li>
                        </ol>

                        <h3>Language Ability</h3>
                        <p>The applicant should have proven language ability in at least a basic level in either English or French, equivalent to Canadian Language Benchmark (CLB) 4. The language ability can be proven with any of the below given tests:</p>
                        <ol class="ordered-list-alpha">
                            <li>International English Language Testing System (IELTS) (General test) </li>
                            <li>Canadian English Language Proficiency Index Program (CELPIP) (General test)</li>
                            <li>Test d’evaluation de francais (TEF)</li>
                            <li>Test de connaissance du francais (TCF Canada)</li>
                        </ol>

                        <p>The threshold for each of the above language tests is lower than that of other immigration programs, especially the Express Entry program. Also, the test results must be less than 2 years at the time of submission. </p>

                        <h3>Proof of Funds</h3>
                        <p>Similar to other immigration programs, the applicants must prove their ability to fund themselves and their accompanying family members, after coming to Canada, unless working in Canada with a work permit.</p>
                        <p>The required fund should be equal to or greater than the sums mentioned below for each family size:</p>

                        <h3>Provincial Endorsement</h3>
                        <p>The candidates for the AHSF program should be endorsed by the respective Atlantic province and should submit an endorsement letter along with the permanent residence (PR) application.</p>
                        <p>The endorsement is valid for about 6 months, without permission for any extension.</p>

                        <h3>Atlantic Intermediate Skilled Program (AISP)</h3>
                        <p>Requirements for Atlantic Intermediate Skilled Program are same for Atlantic High Skilled Program with the following differences:</p>
                        <ol class="ordered-list-alpha">
                            <li>The job offers required for the AISP program should be for a position which involves skilled or intermediate level position (managerial, professional, technical/trades, or intermediate position).</li>
                            <li>The work experience should be in only one occupation and in a NOC level C occupation.</li>
                            <li>The following occupations can be included as work experience under skill level B; Registered Nurse (NOC 3012), Psychiatric Nurse (NOC 3012), and Licensed Practical Nurse (NOC 3233). However, the work experience is valid only in case of any valid job offer as a nurse’s assistance, patient service associate or home support worker.</li>
                        </ol>
                        <h3>Atlantic International Graduate Program (AIGP)</h3>
                        <p>This program allows foreign graduates with valid job offer, from eligible institutions in Atlantic provinces, to apply for permanent residence without having the need to obtain any kind of work experience. However, the applicant may apply for a work permit.</p>
                        <p>The requirement for Atlantic International Graduate Program is same as other programs in all aspects except for Education, as stated in the below points:</p>
                        <ol class="ordered-list-alpha">
                            <li>The candidate must have a degree, diploma or certificate or apprenticeship after completion of post-secondary education program of a minimum of 2 years, from a publicly funded institution in Atlantic Canada provinces.</li>
                            <li>The candidate was enrolled as a full-time student in Canada for at least 2 years.</li>
                            <li>The applicant has been a resident of any of the Atlantic provinces for at least 16 months during the 24-month period before obtaining credentials.</li>
                            <li>The applicant had a valid or legal temporary resident status with authorization to work, study or training during their stay in Canada.</li>
                        </ol>

                        <p>A list of AIPP designated employees can be found in the below given links:</p>
                        <ol class="ordered-list-alpha">
                            <li><a href="https://www.gov.nl.ca/immigration/immigrating-to-newfoundland-and-labrador/atlantic-immigration-pilot-program/designated-employers/" target="_blank">Newfoundland and Labrador Designated Employers</a></li>
                            <li><a href="https://novascotiaimmigration.com/wp-content/uploads/Designated_AIP_employers.pdf" target="_blank">Nova Scotia Designated Employers</a></li>
                            <li><a href="https://www.princeedwardisland.ca/en/information/office-immigration/atlantic-immigration-pilot-designated-employers" target="_blank">Prince Edward Island Designated Employers</a></li>
                            <li><a href="https://www.welcomenb.ca/content/dam/wel-bien/pdf/atlantic_immigration_pilot_project_designated_employers_list_april2019.pdf" target="_blank">New Brunswick Designated Employers</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
