<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">International Experience Canada</h1>
        <hr class="line">
        <p>International Experience Canada</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/international-experiences.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">International Experience Canada</h3>
                        <p>As per the International Experience Canada program, Canadians in the age group from 18 to 35 are authorised to live and work in any of the 34 countries, listed in the program. In turn, the younger lot from these 34 countries are also given permission to stay and work in Canada.</p>
                        <p>The IEC program allows the candidates to get work permit without having to go through the process of Labour Market Impact Assessment.</p>
                        <h3>Working Holidays</h3>
                        <p>This category allows individuals enjoying a long vacation to Canada, to get open work permit (valid of 2 years) to work for a short period of time. </p>
                        <p>Following candidates are eligible to temporarily work in Canada under this category:</p>
                        <ul>
                            <li>He or She should not have a job offer.</li>
                            <li>The candidate is willing to work for more than one employer.</li>
                            <li>Candidate is willing to work in more than one location.</li>
                            <li>He or She is likely to earn money to fund his/her travelling expenses.</li>
                        </ul>    
                        
                        <h3>International Co-Op (Internship)</h3>
                        <p>This category is for students across the globe who are looking forward to gaining international experience in their respective subjects or fields of study. Eligible potential candidates would receive an employer specific work permit and the salary should be in accordance with the labour laws for that province or territory.</p>
                        <p>Following requirements are mandatory for a candidate to qualify for this category:</p>

                        <ul>
                            <li>He or She has an offer of employment for an internship in Canada.</li>
                            <li>The candidate is a registered student at a post-secondary institution.</li>
                            <li>The candidate requires the work placement or internship to complete his/her studies.</li>
                            <li>Candidate is willing to work for the same employer at a given location during his/her period of stay in Canada.</li>
                        </ul>

                        <h3>Young Professionals</h3>
                        <p>Individuals willing to gain professional work experience in Canadaare likely to fall into this category. The eligible candidate must be involved in a paid work through an employer specific work permit and not in any kind of self-employment.</p>

                        <p>Following are mandatory requirements for this category:</p>
                        <ul>
                            <li>Candidate should have an employment offer as per NOC skill levels 0, A or B, in Canada for his/her professional development.</li>
                            <li>Candidate should work for an employer who is compliant with the standard labour laws for that province or territory.</li>
                            <li>Candidate can have a NOC C level job provided a post secondary diploma, certificate, or degree (translated to English or French) is submitted along with the work permit application.</li>
                        </ul>

                        <p>As a part of the international experience program, Canada’s immigration department has released a list of organizations (from Canada or International ) which provide paid services such as finding a job, accommodation, or other travel arrangements to both foreign nationals coming to Canada and Canadians going abroad.</p>
                        <p>Given below are list of approved organizationunder the International Experience Canada program:</p>

                        <ol>
                            <li>International Association for the Exchange of Students for Technical Experience (IAESTE)</li>
                            <li>Association for the International Exchange of Students in Economics and Commerce (AIESEC)</li>
                            <li>Academic Internship Council (AIC)</li>
                            <li>Mennonite Central Committee of Canada / International Volunteer Exchange Program (MCC/IVEP)</li>
                            <li>Canadian Host Family Association (CHFA) with Communicating for Agriculture Education Programs (CAEP)</li>
                            <li>International Rural Exchange (IRE)</li>
                            <li>University of Alberta</li>
                            <li>University of New Brunswick</li>
                            <li>SWAP Working Holidays</li>
                            <li>Go International</li>
                            <li>INTERNeX International Exchange</li>
                            <li>Stepwest</li>
                          
                        </ol>

                        <p>Given below are list countries part of the IEC program:</p>
                        <table><tr><td>
                        <ul>
                            <li>Australia</li>
                            <li>Austria</li>
                            <li>Belgium</li>
                            <li>Chile</li>
                            <li>Costa Rica</li>
                            <li>Croatia</li>
                            <li>Czech Republic &nbsp; &nbsp; &nbsp;</li>
                            <li>Denmark</li>
                            <li>Estonia</li>
                            <li>France</li>
                            <li>Germany</li>
                            <li>Greece</li>
                            <li>Hong Kong</li>
                            <li>Ireland</li>
                            <li>Italy</li>
                            <li>Japan</li>
                            
                            <li>South Korea</li>
                        </ul>
                            </td>
                            <td><ul>
                           
                            <li>Latvia</li>
                            <li>Lithuaniai</li>
                            <li>Mexico</li>
                            <li>Netherlands</li>
                            <li>New Zealand</li>
                            <li>Norway</li>
                            <li>Poland</li>
                            <li>Portugal</li>
                            <li>San Marino</li>
                            <li>Slovakia</li>
                            <li>Slovenia</li>
                            <li>Spain</li>
                            <li>Sweden</li>
                            <li>Switzerland</li>
                            <li>Taiwan</li>
                            <li>Ukraine</li>
                            <li>United Kingdom</li>
                        </ul>
                        </td>
                        </tr>
                        </table>

                        <h3>Eligibility Criteria</h3>
                        <p>Below given are mandatory requirements for a candidate to qualify under the International Experience Canada program:</p>
                        <ul>
                            <li>The candidate should be aged between 18 to 30 or 35 depending on the country of citizenship.</li>
                            <li>The candidate should be a citizen (passport holder) of any of the above mentioned 34 countries.</li>
                            <li>The individual must have 2500 Canadian dollars or equivalent in his/her bank account to support initial expenses.</li>
                            <li>The candidate should be enrolled in a health insurance policy during the stay in Canada, which should be shown as evidence at entrance to Canada.</li>
                            <li>The candidate should have pre-book return ticket from Canada or enough financial support to fund his/her return from Canada.</li>
                            <li>No relatives, friends or other accompanies should come along with the candidate.</li>
                            <li>The candidate should pay the appropriate fees.</li>
                        </ul>

                        <h3>IEC Work Permit Process</h3>
                        <p>Given below are steps for IEC in chronological order:</p>
                        <ol class="lower-alpha">
                            <li>The candidate creates his/her online account in the IRCC website and completes relevant steps.</li>
                            <li>The application is submitted while choosing the required IEC pools.</li>
                            <li>Once the Invitation to Apply is received, the applicant gets 10 days to accept or decline the invitation. If accepted, the ‘Start Application’ button is clicked to start work permit application process.</li>
                            <li>The candidate then gets 20 days to complete, pay and submit the work permit application.</li>
                            <li>For the Young Professional and International Coop category, the applicant should get the offer of employment number, which is obtained by the respected employer after payment of the employer compliance fees.</li>
                            <li>The candidate should upload all supporting documents (or proof of application for the supporting documents).</li>
                            <li>The applicant pays a fee of 150 Canadian dollars through online payment.</li>
                            <li>Applicants of Working Holiday Category should also pay open work permit holder fee of 100 Canadian dollars.</li>
                            <li>IRCC then starts assessing the application and typically completes the processing within 8 weeks.</li>
                            <li>Once application is successful, a letter of introduction (official named as Port of Entry Introduction Letter) is issued to the candidate’s account.</li>
                            <li>The letter is required to presented upon arrival in Canada, where a work permit is obtained.</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <form style="margin-top:25px;">
                <div class="container">
                    <h3>Free Immigration Assessment</h3>
                    <p>Find out your options for visa by completing a free online assessment.</p>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="psw"><b>Password</b></label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>
                 
                    <button type="submit" class="registerbtn">Book My Free Assessment</button>
                </div>
            </form>
        </div>
    </div>
</div>