
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="circle"><div class="inside icon1"><i class="fa fa-fw fa-search icon"></i> </div></div>
        <div class="card-body">
          <h5 class="card-title">Permanent Visa</h5>
          <p>1235</p>
          <a href="#" class="btn btn-grad">View More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="circle"><div class="inside icon2"><i class="fa fa-fw fa-search icon"></i> </div></div>
        <div class="card-body">
          <h5 class="card-title">Work Visa</h5>
          <p>1235</p>
          <a href="#" class="btn btn-grad">View More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="circle"><div class="inside icon3"><i class="fa fa-fw fa-search icon"></i> </div></div>
          <div class="card-body">
            <h5 class="card-title">Student Visa</h5>
            <p>1235</p>
            <a href="#" class="btn btn-grad">View More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
            <div class="circle"><div class="inside icon4"><i class="fa fa-fw fa-search icon"></i> </div></div>
          <div class="card-body">
            <h5 class="card-title">Travel Visa</h5>
            <p>1235</p>
            <a href="#" class="btn  btn-grad">View More</a>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 >Travel Visa</h3>
                <div id="chartdiv5" style="width: 100%; height: 250px"></div>
              </div>
         </div>   
     </div> 
     <div class="col-md-4">
        <div class="card" >
            <div class="card-body">
                <h3>Show By Months</h3>
                <div id="chartdiv4" style="width: 100%; height: 250px"></div>
              </div>
        </div>  
    </div>   
   </div>   
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Visaper devision</h3>
                <div id="chartdiv" style="width: 100%; height: 250px"></div>
              </div>
         </div>   
     </div> 
     <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Total Visas per country</h3>
                <div id="chartdiv3" style="width: 100%; height: 250px"></div>
              </div>
        </div>  
    </div>  
   </div>    

   <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Travel Visa</h3>
                <div id="chartdiv2" style="width: 100%; height: 400px"></div>
              </div>
         </div>   
     </div> 
     <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Family Visa</h3>
                <div id="chartdiv6" style="width: 100%; height: 400px"></div>
              </div>
        </div>  
    </div>  
   </div>    
