<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">SPONSOR YOUR RELATIVES</h1>
        <hr class="line">
        <p>SPONSOR YOUR RELATIVES</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/parents.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="tm-custom-heading ">SPONSOR YOUR RELATIVES</h3>
                        <p>One of the Canadian Immigration Law is to bring families together. Many Canadians and permanent residents want to sponsor their relatives, siblings, friends etc., This is only possible under certain circumstances and can’t be done for every sibling or relative. </p>
                        <p>You can sponsor an orphaned brother, sister, nephew, niece or grandchild only if they are related to you by blood, orphaned, under the age of 18 years and single.</p>
                        <p>You may sponsor one relative, related by blood or adoption of any age if you don’t have a close living relative such as spouse, parent, grandparent, children etc.,  </p>
                        <p>You can sponsor your eligible relative under family class if you meet following requirements</p>

                        <ul>
                            <li>at least 18 years old</li>
                            <li>live in Canada</li>
                            <li>Canadian citizen, a permanent resident of Canada, or a person registered in Canada as an Indian under the Canadian Indian Act</li>
                            <li>able to prove that you’re not receiving social assistance for reasons other than a disability</li>
                            <li>prove that you have enough money to support your parents or grandparents and their dependents</li>
                            <li>proof of income for 3 consecutive years prior to sponsorship</li>
                            <li>promise an undertaking of financial support for 20 years and sign the sponsorship agreement</li>
                            <li>repay any social assistance received</li>
                            <li>provide for the basic needs of your sponsored family members</li>
                        </ul>

                        <h3>You are ineligible to sponsor if </h3>

                        <ul>
                            <li>you won’t live in Canada when your spouse become permanent resident</li>
                            <li>you’re a temporary resident, that is you’re visiting, studying or working in Canada on a visa or permit</li>
                            <li>your permanent residence application is still in process</li>
                            <li>are still financially responsible for a previous sponsorshipand may other reasons that make you ineligible</li>
                            <li>declared bankruptcy and are not discharged </li>
                            <li>receive social assistance for a reason other than a disability</li>
                        </ul>

                        <p>Do you have someone in mind to sponsor and want to know the eligibility? Contact us today to assess your profile. </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
