<!--<div class="container footer">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6">
            <h3>Country</h3>
            </div>
     </div>   
 </div> -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="list margin-footer">
                    <div class="margin-footer">
                        <h3 class="immigration-title">Country</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Canada</a>
                            </li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">United
                                    State</a></li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">United
                                    Kingdom</a></li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Australia</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="list margin-footer">
                    <div class="margin-footer">
                        <h3 class="immigration-title">Visas</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Student
                                    Visas</a></li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Business
                                    Visas</a></li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Family
                                    Visas</a></li>
                            <li><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic">Travel
                                    Visas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="list">
                    <div class="margin-footer">
                        <h3 class="immigration-title">Contact Us</h3>
                    </div>
                    <div>
                        <p><strong>Corporate Office</strong></p>
                        <address>2279 Fire Access Road<br>
                            Greensboro, NC 27401</address>
                        <p>1800 102 4150<br>
                            1800 102 4151</p>
                        <p><a href="https://themeforest.net/user/wp-organic/portfolio?ref=wp-organic" target="_blank"
                                rel="noopener noreferrer">Schedule a Meeting</a><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                <div class="list">
                    <div class="margin-footer">
                        <h3 class="immigration-title">Connect</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook social-icon"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter social-icon"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-instagram social-icon"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa fa-youtube social-icon"></i> Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12 ">
                <div class="list">
                    <div class="margin-footer">
                        <h3 class="immigration-title">News Letter</h3>
                    </div>
                    <div>
                        <p>Sign up for our Newsletter and join us on the path to success.</p>
                        <form class="form-group"> <input type="text" class="form-control"
                                placeholder="Enter Email Address">
                            <button class="btn btn-default btnStyle" type="submit"> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="allRights">
        <div class="container"><div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            
                <p>Copyright © 2019 <a href="https://visahub.wporganic.com/elementor/">VisaHub</a>. All Rights Reserved.</p>
            </div>
        </div>
         </div>   
     </div>   
</div>