
<section class="my-container main background" style="padding:0px; height: 350px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/cmg-soon.jpg');">
    <div class="content">
        <div class="container">
            <h1 class="heading-allPages">Privacy Statement</h1>
            <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                <span> &nbsp; | &nbsp;</span>
                <span class="pages">Privacy Statement</span>
            </div>
       </div>
    </div>
</section>
<div class="container" id="privacypolicy">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12"><br/>
            <p class="bold-class">Last Updated on 02-May-2020</p>

            <p>At V9 Immigration, accessible from www.v9immigration.com, www.v9immigration.ca, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by V9 Immigration and how we use it.</p>
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at <a href="mailto:info@v9immigration.com">info@v9immigration.com</a></p>
            <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in V9 Immigration. This policy is not applicable to any information collected offline or via channels other than this website.</p>
            <p class="bold-class">Consent</p>
            <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <p class="bold-class">1. About V9 Immigration</p>
            <p>The domain name  <a routerLink="/">www.v9immigration.com</a> and <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a> belongs to V9 Immigration Inc, Surrey, BC, Canada.</p>
            <p>In this privacy policy (this “policy”), “v9immigration.com”, “v9immigration.ca”, “we”, “us”, or “our” includes:V9 Immigration Inc. a duly constituted corporation under the Canada Business Corporations Act</p>
            <p>V9 Immigration is the data controller responsible for your personal information under this Policy. This Policy applies to the operations of all websites and services within the V9 Immigration Inc, unless specifically indicated otherwise. If you have any questions about this Policy or want to exercise your rights under this Policy, please email us at <a href="mailto:info@v9immigration.com">info@v9immigration.com</a>, or call us or write to our Office at the phone number or the address below.</p>
            <p>Our postal address is:</p>
            <address>
            V9 Immigration Inc,<br> 
            32-6383, 140 Street, Surrey, BC, Canada<br>
            V3W 0E9<br/>
            +1 (778) 728 1999<br>
            +1 (778) 558 4184
            </address>

            <p class="bold-class">2. OUR COMMITMENT TO PRIVACY</p>
            <p>This Policy outlines our commitment to the privacy of all visitors to the V9 Immigration websites <a routerLink="/">www.v9immigration.com</a> or <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a>,and fully describes when, why and how we collect personal information in a secure manner. Your use of V9 Immigration Internet sites and services is subject to the following Policy. In addition, your use of our sites and associated services constitutes your acceptance of these terms. </p>
            <p>If our Policy changes in the future, we will post the revised Policy on our websites and update the “Last Updated” date at the top of this Policy. If the changes are significant, you will be notified via email and/or a prominent notice on our website. However, we encourage you to review this Policy periodically to be informed of how we use your personal information. If you disagree with any changes to this Policy, you will need to stop using this website and deactivate your account(s), if applicable, as outlined below.</p>
            <p>We may offer you the ability to connect with our websites or use our services and tools using a mobile device via a mobile optimized website. The provisions of this Policy apply to all such mobile access and use of mobile devices. This Policy will be referenced by all such mobile optimized websites.</p>
            <p class="bold-class">3. COLLECTION AND PROCESSING OF PERSONAL INFORMATION</p>
            <p class="bold-class">3.1. Personal Information we collect</p>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
            <p class="bold-class">3.2 Information You Provide</p>
            <p>The personal information collected by V9 Immigration may include:</p>
            <ul>
                <li>Name, postal address, phone number, fax number, and e-mail address.</li>
                <li>Financial account information, such as credit card number and other payment information. Please note, we do not retain credit card information.</li>
            </ul>    
            <p>We may also collect information about you such as:</p>
            <ul>
                <li>If you create an account – your username, password, and other demographic information that you provide.</li>
                <li>If you take a survey or interact with us in various other ways – demographics information that you provide and information about subjects that may interest you.</li>
                <li>If you connect your account to another service such as LinkedIn or Twitter, the other service may send us your registration or profile information on that service that you authorize. This information enables cross-platform data sharing to improve your user experience.</li>
            </ul>

            <p class="bold-class">3.3. Children's Information</p>
            <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p>V9 Immigration does not knowingly collect any Personal Identifiable Information from children under the age of 18. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

            <p class="bold-class">3.4. Information We Automatically Collect</p>
            <p>Whenever you visit or interact with the site, we, as well as any third-party advertisers and/or service providers, may use cookies, local shared objects (Flash Cookies), or other technologies to automatically or passively collect information about your online activity and website use information. </p>
            <p>Please note that we automatically collect the following information about you:</p>
            <ul>
                <li>Website Use Information. We may automatically collect website use information when you visit our site. This may include information about your Internet service provider, your operating system, browser type, domain name, Internet protocol (IP) address, your access times, the website that referred you to us, the Web pages you request, and the date and time of those requests.</li>
                <li>Third Party Service Providers. We may use third party service providers to support our website. Some of these service providers may use technology such as cookies, web beacons, pixel tags, log files, or Flash cookies to receive, collect, and store information.</li>
                <li>Third Party Analytic Technologies. We may use third parties' analytics and tracking tools to better understand who is using the website, how people are using website, how to improve the effectiveness of the website, our services and related content, to help us or those third parties serve more targeted advertising to you across the Internet. These tools may use technology such as cookies, web beacons, pixel tags, log files, Flash cookies, HTML5 cookies, or other technologies to automatically collect and store certain information. They may also combine information they collect from your interaction with the website with information they collect from other sources. We do not have access to, or control over, these third parties' use of cookies or other tracking technologies.</li>
            </ul>

            <p class="bold-class">3.4. Information Collected from Other Sources</p>
            <p>We may acquire information from other trusted sources to update or supplement the information that you provide or that we collect automatically. We may use this information to help us maintain the accuracy of the information we collect, to target our communications so that we can inform you of products, services or other offers that may be of interest to you, and for internal business analysis or other business purposes.</p>

            <p class="bold-class">3.5. How we use your information</p>
            <p>We use the information we collect in various ways, including to:</p>
            <ul>
                <li>Provide, operate, and maintain our website</li>
                <li>Improve, personalize, and expand our website</li>
                <li>Understand and analyze how you use our website</li>
                <li>Develop new products, services, features, and functionality</li>
                <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
                <li>Send you emails</li>
                <li>Find and prevent fraud</li>
            </ul>

            <p class="bold-class">3.6. Device and Usage Data</p>
            <p class="bold-class">3.6.1. Log Files</p>
            <p>V9 Immigration follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info/" target="_blank">Privacy Policy Generator</a> and the <a href="https://www.disclaimergenerator.org/" target="_blank">Disclaimer Generator.</a></p>

            <p class="bold-class">3.6.2. Cookies and Web Beacons</p>
            <p>Like any other website, V9 Immigration uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>
            <p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/" target="_blank">"What Are Cookies".</a></p>

            <p class="bold-class">3.6.3. Opt-in and Do Not Track Features</p>
            <p>You may opt-in to collection of device and usage data by managing your cookies at the individual browser level. Please note, however, that by blocking or deleting cookies and similar technologies used on our websites, you may not be able to take full advantage of the websites.</p>
            <p>While some internet browsers offer a “do not track” or “DNT” option that lets you tell websites that you do not want to have your online activities tracked, these features are not yet uniform and there is no common standard that has been adopted by industry groups, technology companies, or regulators. Like most other companies, our websites are not currently configured to respond to browsers' "Do Not Track" signals because at this time no formal "Do Not Track" standard has been adopted. </p>

            <p class="bold-class">3.6.4. Social Media Features</p>
            <p>Our websites may use social media features, such as the Facebook “like” button, the Twitter “Tweet” button, and other sharing widgets (“Social Media Features”). You may be given the option by such Social Media Features to post information about your activities on a website to a profile page of yours that is provided by a third-party social media network in order to share with others within your network. Social Media Features are either hosted by the respective social media network or hosted directly on our website. To the extent the Social Media Features are hosted by the respective social media networks, the latter may receive information that you have visited our website from your IP address. If you are logged into your social media account, it is possible that the respective social media network can link your visit of our websites with your social media profile.</p>

            <p class="bold-class">3.6.5. Advertising Partners Privacy Policies</p>
            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of V9 Immigration.</p>
            <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on V9 Immigration, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
            <p>We sometimes work with advertisers or other third parties to serve ads targeted to your interests, or to collect data for conversion tracking (that is, what actions you take after you click on an ad).</p>
            <p>Note that V9 Immigration has no access to or control over these cookies that are used by third-party advertisers.</p>

            <p class="bold-class">3.6.6. Third Party Privacy Policies</p>
            <p>V9 Immigration's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
            <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

            <p class="bold-class">4. CCPA Privacy Rights (Do Not Sell My Personal Information)</p>
            <p>Under the CCPA, among other rights, California consumers have the right to:</p>
            <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
            <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
            <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

            <p class="bold-class">5. GDPR Data Protection Rights</p>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
            <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
            <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
            <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
            <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
            <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

            <p class="bold-class">6. Personal Information Retention</p>
            <p>We will keep your personal data for as long as we need it for the purpose it is being processed for. For example, we will retain your information for as long as your account is active or as needed to provide you services; and after that, we will keep the personal information for a reasonable period of time, which enables us to handle or respond to any complaints, queries or concerns relating to your account.</p>
            <p>While we take these steps to protect your personal information as much as we reasonably can, no system or transmission of data over the Internet or any other public network, or any storage of data, can be guaranteed to be 100% secure.</p>

            <p class="bold-class">Contact Us</p>
            <address>
                V9 Immigration Inc, <br>
                217-8028, 128 Street,<br>
                Surrey, BC, V3W 0E9, Canada<br>
                Email: info@v9immigration.com<br>
                Phone: + 1 (778) 728 1999 or +1 (778) 558 4184
            </address>

        </div>
    </div>
</div>
