<div class="elementor-widget-container card-main">
    <div class="visa-card card">
        <div class="zoomimg mb-0">
            <img class="cusimg" [src]="imagename"/>
        </div>
        <div class="visa-card-content">
            <h3 class="visa-card-title"><a class="visa-card-title" href="https://visahub.wporganic.com/elementor/visa-immigration-single-page/" class="title">{{visatitle}}</a></h3>
           <hr class="visa-hr"> <p class="visa-card-para">{{visasummary}}</p>
        </div>
    </div>
</div>
