<div class="card-main">
    <div class="card">
        <div style="height: 180px;">
            <div class="zoomimg mb-0">
                <img class="cusimg" [src]="imagename"/>
            </div>
        </div>
        <div class="visa-card-content">
            <h3 class="visa-card-title"><a style="text-decoration:none" [routerLink]="link">{{visatitle}}</a></h3>
           <hr class="visa-hr"> <a style="text-decoration:none" [routerLink]="link"><p class="visa-card-para">{{visasummary}}</p></a>
        </div>
    </div>
</div>
