
<section class="my-container main background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/road-220058_1280.jpg');">
    <div class="content">
           <div class="container">
           <h1>Refugees</h1>
       </div>
       </div>
     </section>
<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-4"><app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/Refugees.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Refugees</h3>
                        <p>As per the convention related to Status of Refugees (the Geneva Convention) signed in 1951, the Canadian Government recognizes the basic human rights to life, liberty and security.</p>
                        <h3 class="allPages-heading">Recognizing Refugees</h3>
                        <p>The following circumstances or instances can make a person from another country, eligible to be granted asylum in Canada:</p>

                        <ul class="ul-li-before-img">
                            <li>Persecution of human rights activities because of raising voice against Government abuses.</li>
                            <li>Homosexual person constantly physically or mentally abused in his/her home country where homosexuality is criminalised.</li>
                            <li>Threats of violence by business enjoying good support from the Government.</li>
                            <li>Practised religion being suppressed by the Government.</li>
                            <li>Belongs to an ethnic group persecuted by the Government.</li>
                            <li>Subjected to domestic physical abuse by the spouse in a country where domestic violence is accepted.</li>
                            <li>Criticism of a rebel group in a country dominated by the latter despite a ruling Government.</li>
                            <li>Persecution due to suspected opposition to the Government despite being politically inactive.</li>
                            <li>One or both parents is/are imprisoned political leader(s) denounced as threat to the Government.</li>
                            <li>Witness to a military massacre which is intentionally concealed by the Government.</li>
                            <li>Active member of a suppressed student movement.</li>
                            <li>Belongs to a religion suppressed by the Government. </li>
                        </ul>
                        <h3 class="allPages-heading">Steps for Refugee Application</h3>

                        <ol style="list-style: lower-alpha;">
                            <li>The concerned person makes a claim for seeking refuge in Canada at a border crossing or at the immigration office inside Canada.</li>
                            <li>The eligibility is decided by a Canadian immigration official, wherein claim at the border expedites the process while claim at the immigration office makes the process slow.</li>
                            <li>Once found to be eligible, the refuge claim is taken forward to the Immigration and Refugee Board (an independent administrative organization).</li>
                            <li>The IRB determines the authenticity of the refugee claim, for which the claimant is required to complete a Personal Information Form (PIF) and submit to the IRB.</li>
                            <li>The claimant is required to attend a hearing after 12 months, in front of a member of IRCC. Only exception are rare cases where the evidence is exceptionally clear.</li>
                            <li>If IRB accepts the application, the concerned person becomes a protected person and is eligible to apply for Canadian permanent residence.</li>
                            <li>If the IRB doesn’t accept the person’s claim, he/she can approach the Federal Court of Canada for an application of judicial review. </li>
                            <li>If the claimant fails even at the Federal Court, the removal from Canada is inevitable. However, the person can apply for a Pre-removal Risk Assessment, wherein a Canadian Immigrationofficial assesses the claim based on the same reasons as that during initial trails, though with some changes in circumstances considered.</li>
                        </ol>
                        <p>The pre-removal risk assessment is an opportunity for individuals whose refugee claim is rejected, abandoned or withdrawn, to seek protection through written description of possible risks if removed from Canada.</p>

                        <p>Following reasons bar an individual from applying for refugee claim:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>Prior refugee claim made in Canada.</li>
                            <li>Entrance in Canada through a safe third country such as United Status of America. Claimants coming from or even passing through US are not eligible for refugee claim.</li>
                            <li>Serious offences with respect to security, criminal activities, human rights or international rights violation, etc.</li>
                            <li>Already a refugee in another country.</li>
                        </ol>
                        <p>The processing time for the refugee status applications depends upon the time taken by IRCC to process completed applications in the past 12 months.</p>
                        <p>Different types of recognized refugees are as given below:</p>
                        <ul class="ul-li-before-img">
                            <li><b>Government Sponsored Refugees:</b> The Government of Canada or Quebec supports convention refugees abroad during initial stages of their resettlements, through recognized non-government agencies.The support may last up to one year from arrival date or until the refugee is able to self-support. The support includes accommodation, food, clothing, employment, and other assistance. The processing time depends on the time taken for IRCC to process complete applications in past 12 months.</li>
                            <li><b>Privately Sponsored Refugees:</b> These include community sponsors, group of five, or sponsorship agreement holders, who provide home, food, or clothing support to eligible international refugees in Canada. Processing time depends on the latest information with Canada immigration authorities. The refugees are required to enter Canada through legal procedures like medical and security screening checks. Supporting period ranges from 1 to 3 years based on eligibility of the refugees.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
