<div class="container mid-pad">
    <div class="row">
        <div class="col-md-6 col-lg-6 text-left">
            <img src="./assets/logo.jpg" style="height: 60px;"/>
        </div> 
        <div class="col-md-3 col-lg-3">
            <span class="middle-logo"><i class="fa fa-phone middle-phone" aria-hidden="true"></i></span>
            <span class="mid-hed">Business Phone</span><br/>
            +1 32 8376 6284
        </div> 
        <div class="col-md-3 col-lg-3">
            <span class="middle-logo"><i class="fa fa-envelope-open-o middle-phone" aria-hidden="true"></i></span>
            <span class="mid-hed">Mail Us</span><br/>
            companyemail@domain.com
        </div>  
    </div>
</div>
