
<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Work Permit Extension</h1>
       </div>
       </div>
     </section>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/work-permit-extension.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Work Permit Extension</h3>
                        <p>As per Canada immigration laws, an individual from any international territory or country is eligible to work in Canada temporarily through the work permit. Given below are 4 instances where the worker is required to extend or modify his/her work permit:</p>
                          <ol style="list-style: lower-alpha;">
                            <li>When job profile of the individual has changed or the contract period is increased, he/she is required to apply for an extension or change in work permit conditions before the permit expires.</li>
                            <li>When the individual gets new job, a fresh application should be submitted for a new work permit.</li>
                            <li>When the worker intends to live and work in Canada permanently, he/she should follow existing rules for application of Canada’s permanent residence.</li>
                            <li>When the worker leaves Canada temporarily, he/she is given permission to arrange for their work permit extension, in order to resume work on return to Canada. Following are possible outcomes for an individual’s work permit:
                                <ul class="ul-li-before-img">
                                    <li>The worker permit extension is under process, the individual should enter Canada as a visitor and would not be allowed to work until processing is complete.</li>
                                    <li>The permit extension is accepted, and the worker can work immediately on entering to Canada.</li>
                                    <li>The work permit extension is rejected,and the worker applies for a new work permit.</li>
                                </ul>
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
