<section class="my-container main background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/about.jpg');">
    <div class="content">
        <div class="container">
            <h1 class="heading-allPages">Family Caregiver Program</h1>
            <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                 <span> &nbsp; | &nbsp;</span>
                 <span class="pages">Family Caregiver Program</span>
              </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <app-side-bar></app-side-bar>
        </div>
    <div class="col-md-8 col-lg-8">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2 class="allPages-heading">
                    Family  Program
                </h2>

                <hr class="divider" />
            <div class="entry-content">
                <div class="themetechmount-box-desc-text">
                    <p>Caregiver Program is usually a Family Caregivers providing crucial support in caring for Veterans. Access to health care benefits program (if the Caregiver is not already entitled to care or services under a health care plan) Mental health services and counseling.</p>

                    <p>Caregiver Program of Permanent Residence considers the individuals who advanced toward Canada briefly, as live-in parental figures, however, have built up themselves in Canada through substantial work. Canada looks to help the individuals who have acquired this commendable involvement in Canada to get their changeless status, and keep on making a positive route for themselves and their close family in Canada.</p>

                    <p class="allPages-heading"> Approaches to Qualify in Caregiver Program</p>

                    <p>In order to be eligible for Permanent Residence under the Caregiver Class involves having acquired legitimate work involved in Canada as a live-in care-giver for no less than two years.</p>
                    <p>The fundamental capabilities for Permanent Residence through the Live-in Caregiver Program are:</p>
                    <ul style="padding-left: 15px;" class="ul-li-before-img">
                        <li>Be endorsed to take an interest in the Caregiver Program at a visa office outside of Canada;</li>
                        <li>Has a substantial work allow to fill in as a Caregiver for kids, seniors or the crippled with a legitimate boss in Canada</li>
                    </ul>

                    <p class="allPages-heading">What You Need</p>


                    <ul style="padding-left: 15px;" class="ul-li-before-img">
                        <li>Be endorsed to take an interest in the Live-in Caregiver Program at a visa office outside of Canada;</li>
                        <li>Have a substantial work allow to fill in as a Live-in Caregiver for kids, seniors or the crippled with a legitimate boss in Canada; and</li>
                        <li>Complete two years of approved all day work as a live-in parental figure inside four years from the date you entered Canada under the Program.</li>
                    </ul>

                    <p class="allPages-heading"> On the other hand, you may likewise:</p>
                    <ul style="padding-left: 15px;" class="ul-li-before-img">
                        <li>Complete a total of 3,900 hours:</li>
                        <li>Within at least 22 months, which may incorporate a most extreme of 390 hours of additional time of approved all day work as a live-in parental figure</li>
                        <li>Within four years from the date you entered Canada under the program.</li>
                    </ul>
                    <p class="allPages-heading">Restorative and Security Checks</p>

                    <p>Beside this and the required rundown of records, you will likewise need to experience police and medical checks.</p>
                    <p>To get a therapeutic exam, you should go to a board doctor. A board doctor is the one assigned by Citizenship and Immigration Canada to perform such exams. Sadly, an extraordinary specialist will do. The aftereffects of your exam will be sent specifically to Citizenship and Immigration Canada for appraisal.</p>
                    <p>Police clearances are gotten by reaching your nearby police experts and following their procedure to get said checks. Every specialist is distinctive so make sure to reach them straightforwardly to discover what they require with the end goal for you to acquire the documentation you will require.</p>

                    <p>Contingent upon your medicals and police history, you might be discovered either acceptable or prohibited in view of the result. On the off chance that you are discovered unacceptable, you may require facilitated approval to enter Canada; this archive is known as a Temporary Resident Permit.</p>

                    <p class="allPages-heading"> Applying with Family Member(s)</p>

                    <p>You can likewise apply to your relative for a lasting inhabitant of Canada. All relatives of yours who have connected for perpetual habitation must be proclaimed and incorporated into your live-in parental figure’s application for changeless living arrangement.</p>
                    <p>All relative regardless of whether going with the foremost candidate or not, are required to be inspected. All qualified relatives must experience and pass restorative, criminal and security checks.</p>
                    <p>Forbidden relative can make your application for changeless occupant be denied, so with the goal for you to ensure your application procedure to be simple, you need to see if your relative permissible or not before applying for the lasting inhabitant with your relative.</p>

                </div>

            </div><!-- .entry-content -->
            </div>
        </div>
    </div>

    </div>
</section>
