
   <section class="my-container main background" style="padding:0px">
      <div class="content">
             <div class="container">
             <h1>Agricultural Workers</h1>
           <!--  <ul class="pages-ul-li">
                <li>Fruits, Vegetables.</li>
                <li>Mushrooms</li>
                <li>Flowers</li>
                <li>Sod</li>
                <li>Tobacco</li>
                <li>Bovine</li>
                <li>Dairy</li>
                <li>Duck</li>
                <li>Horse</li>
                <li>Mink</li>
                <li>Poultry</li>
                <li>Sheep</li>
                <li>Swine</li>
                <li>Nursery grown trees</li>
                <li>Pedigreed canola seeds</li>
            </ul>-->
         </div>
         </div>
       </section>


<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="immg_wrapper">
                <div class="">
                    <div class="content_wrapper">

                        <p>With over 36,952 farms contributing more than 42,003 million dollars to Canada’s GDP, Canada is one of the biggest agricultural producers and exporters across the globe. However, with much of the current workforce nearing retirement age, the Canadian Government has started implementing programs to attract foreign nationals to fill the current labour gap in its agricultural sector.
                        </p><p> programs are available for individuals to work as a farm worker either permanently or temporarily.
                            </p>

                        <h3 class="allPages-heading">Provincial Nomination Program</h3>
                        <p>Different provinces in Canada have demand for farmworkers, which is fulfilled mostly through the provincial nomination program. To fast track the immigration process, the provinces have come up with options to pick up relevant express entry candidates with less Comprehensive Ranking System (CRS) score.</p>
                        <p>Given below are list of provinces with need of farm workers:</p>


                        <h3 class="allPages-heading">Seasonal Agricultural Worker Program</h3>
                        <p>This is an ideal option for individuals looking forward to temporarily work in Canada as an agricultural worker. This program allows employers to hire temporary foreign workers from selective countries, for a period of 8 months. The employer must commit to provide a job offer of at least 240 hours of work during a period of 6 weeks or less.</p>
                        <p>Given below are few mandatory requirements for employers to qualify for SAWP:</p>
                        <ul class="ul-li-before-img">
                            <li>The hired candidates must be citizens of either Mexico or Caribbean countries.</li>
                            <li>The hired worker should be involved in production in specific commodity list as given below:</li>
                        </ul>

                        <ol>
                            <li>Fruits, Vegetables.</li>
                            <li>Mushrooms</li>
                            <li>Flowers</li>
                            <li>Sod</li>
                            <li>Tobacco</li>
                            <li>Bovine</li>
                            <li>Dairy</li>
                            <li>Duck</li>
                            <li>Horse</li>
                            <li>Mink</li>
                            <li>Poultry</li>
                            <li>Sheep</li>
                            <li>Swine</li>
                            <li>Nursery grown trees</li>
                            <li>Pedigreed canola seeds</li>
                        </ol>


                        <h3 class="allPages-heading">Role of Participating Countries</h3>
                        <p>Given below are mandatory roles to be played by the participating countries in the SAWP.</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Nominate and hire potential temporary foreign workers.</li>
                            <li>Make sure the candidate has proper documents.</li>
                            <li>Consists of a list of qualified candidates.</li>
                            <li>Appoints candidates to represent workers in Canada.</li>

                        </ol>

                        <h3 class="allPages-heading">Eligibility for Workers</h3>
                        <p>Given below are requirements for candidates qualifying under the seasonal agricultural worker program:</p>
                        <ul class="ul-li-before-img">
                            <li>Have relevant experience in farming.</li>
                            <li>Is of 18 years or above.</li>
                            <li>Is a citizen of any of the participating countries.</li>
                            <li>Follows both Canada’s immigration laws and home country’s laws as well.</li>
                        </ul>

                        <h3 class="allPages-heading">Program Requirements</h3>
                        <p>Given below are important conditions to be met by the employer </p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Round trip transportation of the temporary foreign worker (to and fro from Canada to home country) should be paid by the employer, with the cost being recovered as per the SAWP agreement rules. The paid transportation records must be kept for at least 6 years.</li>
                            <li>Cost of daily commutation must be provided for the worker to travel to and from residence location to working location.</li>
                            <li>Employers should provide adequate accommodation, either on-farm or commercial establishment, as defined by the Canadian Mortgage Housing Corporation. However, the occupancy of each housing should not exceed the permitted threshold. 	</li>
                            <li>Employer should provide proof of the provided housing being inspected by any authorized person or organization, in form of a standard report.</li>
                            <li>Each eligible employed worker must be registered for provincial or territorial health insurance. Waiting period for the eligibility is available on the Ministry of Health web site.</li>
                            <li>Employers must ensure that the hired workers are covered under workplace safety insurance. Employers using pesticides or other hazardous chemicals should provide workers with free protective equipment, proper training and supervision wherever required.</li>
                            <li>A copy of the standard contract, signed by both the employer and the workers, should be provided at the time of inspection. The contract must specify each party’s rights and guidance to resolve possible disputes.</li>
                            <li>Employer must provide proof of legitimate business and job offer.</li>
                            <li>Employer can transfer a worker from one farm to another with mandatory requirements like worker’s consent, prior written approvals from the foreign government representative in Canada, and from ESDC/Service Canada.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
