<section class="my-container main background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/about.jpg');">
    <div class="content">
        <div class="container">
            <h1>Provincial Nominee Programs </h1>
            <span style="width: 100px;" class="color-bar">&emsp;&emsp;&emsp;&emsp;</span><br/>
            <p>Provincial nomination is an important fast-track option for Canadian permanent residence.</p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <app-side-bar></app-side-bar>
        </div>
    <div class="col-md-8 col-lg-8">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2 class="allPages-heading">
                     Nominee Programs
                </h2>

                <hr class="divider" />
            <div class="entry-content">
                <div class="themetechmount-box-desc-text">
                    <p>The Provincial Nominee Programs (PNPs) enable Canadian provinces and territories to select people who wish to move to Canada and who are occupied with settling in a specific area.</p>

                    <p>Every Canadian region (aside from Quebec, which has an alternate determination framework) and two regions have their own particular one of a kind Provincial Nominee Programs. Partaking areas and regions consent to arrangements with Immigration, Refugees and Citizenship Canada (IRCC) that enable them to choose permanent residents who meet the requirements.</p>

                    <p class="allPages-heading">Canada’s 2017 Immigration Plan</p>
                    <p>Canada will welcome an expanded number of outsiders through the Provincial Nominee Programs in 2017.</p>

                    <p>Commonplace and regional governments have been utilizing these projects to all the more adequately and proficiently welcome newcomers to their district. Each PNP is custom fitted to the province’s/domain’s particular needs to choose chosen people will’s identity ready to subside into life and work in the area and to successfully add to the group. Starting at 2015, most PNPs contain no less than one movement streamlined up with the government Express Entry migration choice framework. These are known as “upgraded” assignments; click here to take in more about how the PNPs work regarding the Express Entry framework.</p>

                    <p class="allPages-heading">Qualification criteria</p>

                    <p>The qualification criteria for the PNP are diversity in light of whether you apply through the paper-based (non-Express Entry streams) or Express Entry (Express Entry streams) process.</p>
                    <p>In the event that you are applyingthrough the paper-based process</p>

                    <p>You must meet the base necessities of one of the region or region’s non-Express Entry streams.</p>

                    <ul style="padding-left: 15px;" class="ul-li-before-img">
                        <li>You must be named under that stream.</li>
                        <li>On the off chance that you are applying through the Express Entry</li>
                        <li>You must meet the base prerequisites of an area or domain’s Express Entry PNP stream.</li>
                        <li>You must be designated under that stream.</li>
                        <li>You must make an Express Entry profile and demonstrate that you meet the base criteria for Express Entry.</li>
                    </ul>
                </div>

            </div><!-- .entry-content -->
            </div>
        </div>
    </div>

    </div>
</section>
