<!-- <ngb-carousel>

    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/home-main-slider3.jpg" alt="BUSINESS IMMIGRATION">
      </div>
      <div class="carousel-caption">
        <table style="height: 100%;"><tr><td class="carousel-caption-table-cell">
          <div class="carousel-content">
            <p class="carousel-small text-left">BUSINESS IMMIGRATION</p>
            <h3 class="carousel-textcolor text-left">Manage and Grow <br/>Your Business with us</h3>
            <div class=" hero-text">
                <button class="carousel-btn-background">
                  <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
                </button>
              </div>
           <!--<a routerLink="/our-services"><button class="btn carousel-btn-background">Our Services</button></a>
          </div>
        </td><td class="carousel-caption-table-cell mobile-hide"></td></tr>
        </table>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="main">
        <img class="img picsum-img-wrapper1" src="./assets/home-main-slider4.jpg"  alt="Best immigration advice">
      </div>
      <div class="carousel-caption">
        <table style="height: 100%;"><tr><td style="width: 55%;" class="mobile-hide"></td><td>
            <p class="carousel-small">GREAT EXPERIENCE</p>
            <h3 class="carousel-textcolor3">We Provide The Best <br/>Immigration Advice</h3>
            <p class="carousel-textcolor3 mobile-hide">We have professional consultants who provide Quality<br/>
              services that’s free of stress and confusion in time.
            </p>
            <div class=" hero-text">
                <button class="carousel-btn-background mobile-hide">
                  <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
                </button>
                <button class="carousel-btn-background3">
                    <a class="acnchor-tag" routerLink="/information/contact-us">Contact Us</a>
                  </button>
              </div>
          
          </td></tr></table>
      </div>
    </ng-template>
   
  </ngb-carousel> -->

  <div class="swiper-container-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <table [ngStyle]="{'background-image': 'url('+images[0].img+')'}" style="background-repeat: no-repeat;background-size: cover; height: 100%; width: 100%;clip-path: polygon(0 1%, 100% 1%, 100% 79%, 0% 100%); text-align: center;" align="center">
          <tr><td style="text-align: left; padding-left: 5%;">
          <p class="carousel-small">{{images[0].sub_header}}</p>
          <h3 class="carousel-textcolor">{{images[0].header}}</h3>
          <p class="carousel-textcolor mobile-hide" *ngIf="images[0].text_content">{{images[0].text_content}}
          </p>
          <div class=" hero-text">
              <button class="carousel-btn-background mobile-hide">
                <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
              </button>             
            </div>
        </td><td style="width: 55%;" class="mobile-hide"></td></tr></table>
      </div>

      <div class="swiper-slide">
        <table [ngStyle]="{'background-image': 'url('+images[1].img+')'}" style="background-repeat: no-repeat;background-size: cover; height: 100%; width: 100%;clip-path: polygon(0 1%, 100% 1%, 100% 79%, 0% 100%); text-align: center;" align="center"><tr>
          <td style="text-align: left; padding-left: 5%;">
            <p class="carousel-small">{{images[1].sub_header}}</p>
            <h3 class="carousel-textcolor">{{images[1].header}}</h3>
            <p class="carousel-textcolor mobile-hide" *ngIf="images[1].text_content">{{images[1].text_content}}
          <div class=" hero-text">
              <button class="carousel-btn-background mobile-hide">
                <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
              </button>
              <button class="carousel-btn-background3">
                  <a class="acnchor-tag" routerLink="/information/contact-us">Contact Us</a>
                </button>
            </div>
        </td><td style="width: 55%;" class="mobile-hide"></td></tr></table>
      </div>

      <div class="swiper-slide">
        <!-- <div class="main">
          <img class="img picsum-img-wrapper1" src="./assets/home-main-slider4.jpg"  alt="Best immigration advice">
        </div> -->
        <table [ngStyle]="{'background-image': 'url('+images[0].img+')'}" style="background-repeat: no-repeat;background-size: cover; height: 100%; width: 100%;clip-path: polygon(0 1%, 100% 1%, 100% 79%, 0% 100%); text-align: center;" align="center"><tr>
          <td style="width: 55%;" class="mobile-hide"></td>
          <td style="text-align: left;">
          <p class="carousel-small">{{images[1].sub_header}}</p>
          <h3 class="carousel-textcolor3">{{images[1].header}}</h3>
          <p class="carousel-textcolor3 mobile-hide">{{images[1].text_content}}
          </p>
          <div class=" hero-text">
              <button class="carousel-btn-background mobile-hide">
                <a class="acnchor-tag" routerLink="/our-services">Our Services</a>
              </button>
              <button class="carousel-btn-background3">
                  <a class="acnchor-tag" routerLink="/information/contact-us">Contact Us</a>
                </button>
            </div>
        </td></tr></table>
      </div>

    </div>
</div>      