<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">SPONSOR YOUR PARENTS OR GRAND PARENTS</h1>
        <hr class="line">
        <p>SPONSOR YOUR PARENTS OR GRAND PARENTS</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/parents.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="tm-custom-heading ">SPONSOR YOUR PARENTS OR GRAND PARENTS</h3>
                        <p>Parent or grandparent sponsorship program has reached its maximum allocation for 2019 and is not available until further notice.</p>
                        <p>Immigration, Refugees and Citizenship Canada introduced a first-come, first served process and invited 10,000 applications in 2019 which is replaced by the old lottery system.</p>
                        <p>You can sponsor your parent or grandparents under PGP Sponsorship program if you meet following requirements</p>

                        <ul>
                            <li>at least 18 years old</li>
                            <li>live in Canada</li>
                            <li>Canadian citizen, a permanent resident of Canada, or a person registered in Canada as an Indian under the Canadian Indian Act</li>
                            <li>able to prove that you’re not receiving social assistance for reasons other than a disability</li>
                            <li>prove that you have enough money to support your parents or grandparents and their dependents</li>
                            <li>proof of income for 3 consecutive years prior to sponsorship</li>
                            <li>promise an undertaking of financial support for 20 years and sign the sponsorship agreement</li>
                            <li>repay any social assistance received</li>
                            <li>provide for the basic needs of your sponsored family members</li>
                        </ul>
                        <h3>You are ineligible to sponsor if </h3>

                        <ul>
                            <li>you won’t live in Canada when your spouse become permanent resident</li>
                            <li>you’re a temporary resident, that is you’re visiting, studying or working in Canada on a visa or permit</li>
                            <li>your permanent residence application is still in process</li>
                            <li>are still financially responsible for a previous sponsorshipand may other reasons that make you ineligible</li>
                            <li>declared bankruptcy and are not discharged </li>
                            <li>receive social assistance for a reason other than a disability</li>
                            <li>were convicted of a violent criminal offence, any offence against a relative or any sexual offence inside or outside Canada</li>
                            <li>can’t legally stay in Canada and must leave the country because you received a removal order </li>
                        </ul>

                        <p>If you become permanent resident of Canada in the last 3 years you may not be eligible to sponsor you parents as you need to provide the notice of assessments for the last 3 years issued by the Canada Revenue Agency.</p>
                        <p>To find out your eligibility take the assessment or contact us now</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
