<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">Start Up Visa Program</h1>
        <hr class="line">
        <p>Start Up Visa Program</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/startup-visa-prog.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">Start Up Visa Program</h3>
                        <p>Apart from federal workers and students, the Canadian Government has also initiated a pilot program to grant permanent residence to immigrant entrepreneurs trying to establish their business in Canada. The idea behind this program is to promote establishment of foreign enterprises in Canada to enhance employment and boost economic growth.</p>
                        <p>Following requirements are mandatory for an applicant to receive Start-up visa:</p>


                        <ol style="list-style: lower-alpha;">
                            <li>Sufficient funds for settling in Canada.</li>
                            <li>Pass Canadian security and medical clearances.</li>
                            <li>The business meets ownership needs.</li>
                            <li>Business is supported by an authorized organisation.</li>
                            <li>Plans to settle in a province other than Quebec.</li>
                            <li>Language ability with CLB 5 (English or French)</li>
                        </ol>

                        <p>Also, only 5 foreign nationals with same business venture can apply for permanent residence.</p>
                        <p>The supporting investing organisation can be a venture capital fund, angel investor group, or a business incubator organization, designation by the Immigration, Refugees and Citizenship, Canada (IRCC). </p>
                        <p>Minimum investment required for successful applicants to set up their venture in Canada, depends upon the type of supporting investors as mentioned below:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>For designated Canadian venture capital fund, required amount is at least $200000.</li>
                            <li>For any angel investor group, requirement is at least $75K.</li>
                        </ol>

                        <p>Note that the applicant need not investment any of his own money and in case the venture is unsuccessful, the permanent residence would still be intact to the individual.</p>
                        <p>The following steps are evident in issuing Start up visa to eligible foreign nationals trying to setup a company in all Canadian provinces (except Quebec)</p>
                        <h3>Step1: Support from Investment Organisation</h3>
                            <p>Applicant obtains support from any investment organization (venture capital fund, angel investor group, or business incubator group).</p>
                            <p>The investment organization can be a venture capital fund, angel investor group, or business incubator group as discussed below:</p>
                            <p>A Venture capital fund invests in a start up business venture with a hope of getting a great Return on Investment (ROI). It invests money of the limited partners (private investors) such as pension funds, hedge funds, public venture funds, etc. A venture capitalist generally requires a position in the company’s board of directors.</p>
                            <p>An angel investor group consists of individuals who invest their own money in business ventures. They may or may not include in the business.</p>
                            <p>A business incubator provides services such as management training, office spacing, etc, to start up companies. The program is generally sponsored by private companies, public institutions, etc.</p>

                        <h3>Step2: Evidence of Commitment</h3>
                        <p>The investor organisation submits a completed Commitment Certificate directly to the IRCC, which showcases agreement between investor and the applicant, i.e. their details of commitment.</p>
                        <p>If multiple organizations are involved in providing investment support to the applicant, a common Commitment Certificate should be submitted to the IRCC and also provide a letter of support to the applicant.</p>
                        <p>The applicant also receives a letter of support from the investor, which needs to be submitted along with the PR application.</p>
                        <p>In case of multiple applicants belonging to same business venture, the application of each applicant is conditional with respect to that of the so-called essential person, considered to be vital to that particular business as per the investor organization. </p>
                        <p>In case the application for the essential person is rejected, the application for rest of the applicants included in that commitment certificate is also refused.</p>
                        <p>If the applicant business is sponsored by a designated venture capital firm, minimum amount invested should be 200000 dollars irrespective of the other investor groups involved.</p>
                        <p>If the business is supported by at least one angel investor group, and no designated venture capital group, minimum amount invested needs to be 75000 dollars.</p>

                        <h3>Step3: Peer Review Process</h3>
                        <p>To guarantee legitimacy of the agreement between the foreign entrepreneurs and investment organizations, and protect the program against fraud, the commitment is independently reviewed by a review panel.  The panel depends upon the type of investor organization. For example, for an angel investor group, the National Angel Capital Association sets up the review panel, while for a venture capital fund, Canada’s Venture Capital and Private Equity Association would establish the panel.</p>
                        <p>Although the peer review process can be initiated on theImmigration officer’s request, it can also be started on a random basis. However, the assessment would only confirm proper investigation by the investment organization and doesn’t guarantees any confirmation from the immigration officer.</p>

                        <p>The peer review process ensures the following statements:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>The company has been and will be established in Canada.</li>
                            <li>The authorized organization has recognized capability of the proposed business venture, reviewed management team and verified ownership of the intellectual property.</li>
                            <li>Core of the business is based on high growth potential product or service.</li>
                            <li>The business incubator applicants are accepted into an incubator program.</li>
                            <li>The business ownership is verified and satisfies program requirements.</li>
                        </ol>
                        <p>Note: Being a pilot program, only a maximum of 2750 applications would be processed per year and the program duration is limited to 5 years. If successful, the program would be made permanent by the end of the 5-year tenure.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
