
<section class="my-container main background" style="padding:0px;  background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/road-220058_1280.jpg');">
    <div class="content">
           <div class="container">
              <h1 class="heading-allPages">Self Employed Immigration</h1>
              <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                <span> &nbsp; | &nbsp;</span>
                <span class="pages">Self Employed Immigration</span>
              </div>
       </div>
       </div>
     </section>
<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/self-emp-immigration-prog.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Self Employed Immigration</h3>
                        <p>The Canada Government and also the province of Quebec allows self employed individuals around the globe to avail permanent residence in Canada through the self-employed immigration program.</p>
                        <p>Given below are few essential requirements for an individual to qualify in the federal self-employed immigration program:</p>


                        <ul class="ul-li-before-img">
                            <li>He/she should have relevant experience of at least 2 years in five years before application, in the fields of agriculture, arts or athletics. He/she must have participated in a world class event related to cultural activities or athletics or have a farm management experience.</li>
                            <li>The individual must showcase the intention and capability to create his/her own employment and create employment in the field of cultural, artistic or athletic spheres, or boost employment through farm management in Canada.</li>
                            <li>The applicant should demonstrate suitable funds to prove their worth to be self-employed in Canada and contribute to the country’s economic growth while simultaneously meeting their own and accompanies’ settlement needs. </li>
                        </ul>

                        <p>The Quebec self-employed program allows individuals to get permanent residence in Quebec by practicing a trade or profession of their own. This program requires an individual to satisfy below given requirements:</p>

                        <ol class="order-list-g">
                            <li>Have two years of experience in the relevant field.</li>
                            <li>Have net worth of 100000 Canadian dollars and enough settlement funds.</li>
                            <li>Have the zeal to create employment in Quebec by practicing a profession mentioned in the National Occupation Classification.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
