<div class="btm-dash-border">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                  </div><span style="display: inline-block; line-height: 24px;">217 – 8028 , 128 St , Surrey, BC V3W 4E9</span>
            </div>
            <div class="col-md-6 col-lg-6 text-right pt-2 mobile-hide">
                <i class="fa fa-envelope-o top-icon-color" aria-hidden="true"></i> &nbsp; info@v9immigration.com &nbsp; |
                <ul style="padding-left: 0;" class="social-parent top-s-i">
                    <li class="top-s-i"><a href="https://www.facebook.com/V9Immigration/" target="_blank" data-tooltip="facebook"><i aria-hidden="true" class="fa fa-facebook top-icon-color"></i></a></li>
                    <li class="top-s-i"><a target="_blank" href="https://twitter.com/V9Immigration/" data-tooltip="Twitter"><i aria-hidden="true" class="fa fa-twitter top-icon-color"></i></a></li>
                    <li class="top-s-i"><i aria-hidden="true" class="fa fa-flickr top-icon-color"></i></li>
                    <li class="top-s-i"><i aria-hidden="true" class="fa fa-linkedin top-icon-color"></i></li>
                </ul>    
                <!--<a class="login-btn" routerLink="/login">Login</a> -->
            </div>
        </div>
    </div>
</div>    