.btm-dash-border{
    border-bottom: 1px dashed  #e2e6ea;
    padding: 8px 0;
    font-size: 14px;
}


.login-btn{
  color: #fff !important;
  background-color: #f12a02;
  border-color: #f12a02;
  padding: 8px 13px;
  margin-left: 16px;
}
