.btm-dash-border{
    border-bottom: 1px dashed  #e2e6ea;
    padding: 10px 0;
}

.login-btn{
    color: #fff !important;
    background-color: #f12a02;
    border-color: #f12a02;
    padding:8px 22px;
}