$colors:(
    primary:#0b0c26,
    accent:#fff,
    primary-light:lighten(#0b0c26, 40%),
    primary-dark:darken(#0b0c26, 40%),
    dark:#22242691,
    transparentDark: #0b0c26c7
);
$padding:15px;
$borders: 15px;
@function color($color-name){
    @return map-get($colors, $color-name)
};
.hdr-bgcolor{
    background-color: #f9f9f9;
    z-index: 999;
}
.blh{
    line-height: 40px;
}
.nav-link{
    color:  color(primary) !important;
    padding-right: 18px !important;
    padding-left: 0 !important;
    font-size: 12px;
    font-weight: 800 !important;
    text-transform: uppercase;
}
ul li a:hover {
    color: #f71735 !important;
}
.nav-item.dropdown:hover a.nav-link{
    color: #f71735 !important;
}
.sub-menu{
    list-style: none;
    padding-left: 4px;
}
li>a{
  letter-spacing: 0;
  font-weight: 600;
}
.sub-menu1{
    list-style: none;
    margin-left: -10px;
    margin-top: -40px;
}
.sub-menu1 li{
    border-bottom: 1px solid #31161612;
    transition: all 0.5s;
}
.sub-menu1-tgl{
    display: none;
}
.sub-menu-icon{
    margin-right: 10px;
    float:right;
    cursor: pointer;
    color:#f71735;
}

.dropdown-menu {
    min-width: 20rem !important;
    background: color(accent);
    top:113%;
    padding-left:10px;
    margin-top: -5px;
}

.navbar-brand {
    margin-right: 0 !important;
}
.sub-menu > li{
    line-height: 40px;
    &:hover{
        transition: all 0.5s;
    }
}
ul.sub-menu> li{
    position :relative;
    border-bottom: 1px solid #31161612;
    &:hover{
      transition: all 0.5s;
      &::before{
          content: '\276F';
      }
    }
    a{
        text-decoration: none;
        color:color(primary);
        font-family: "Poppins",Arial,Helvetica,sans-serif;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0;
        padding: 15px 10px 15px 10px;
        position: relative;
    }
}
li>ul{
    margin-left:100%;
    position: absolute;
    padding:10px;
    background: color(accent);
    width:100%;
    a{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        display: block;
        padding: 15px 10px 15px 10px;
        position: relative;
    }
}

li>ul li:hover{
   padding-left: 3px;
}



.clearfix{
    clear:both;
}

@media screen and (max-width: 768px){
    li>ul{
        margin-left:0 !important;
        padding:20px 10px 10px 10px;
        background: #f9f9f9;
        width:100%;
        position: relative !important;
    }
}

.stiky{
    position: fixed;
    top:0;
    width: 100%;
}