$colors:(
    primary:#0b0c26,
    accent:#fff,
    primary-light:lighten(#0b0c26, 40%),
    primary-dark:darken(#0b0c26, 40%),
    dark:#22242691,
    transparentDark: #0b0c26c7
);
$padding:15px;
$borders: 15px;
@function color($color-name){
    @return map-get($colors, $color-name)
};
.hdr-bgcolor{
    background-color: color(primary);
}
.blh{
    line-height: 40px;
}
.nav-link{
    color: #ffffff !important;
    padding-right: 2rem !important;
    padding-left: 0 !important;
    font-size: 12px;
    text-transform: uppercase;
}
.sub-menu{
    list-style: none;
    padding-left: 4px;
}
li>a{
  letter-spacing: 1px;
  font-weight: 600;
}
.sub-menu1{
    list-style: none;
    margin-left: -10px;
    margin-top: -40px;
}

.sub-menu1-tgl{
    display: none;
}
.sub-menu-icon{
    margin-right: 10px;
    float:right;
    cursor: pointer;
    color:color(accent);
}

.dropdown-menu {
    min-width: 20rem !important;
    background: color(primary);
    top:113%;
}

.navbar-brand {
    margin-right: 0 !important;
}
 .sub-menu > li{
    line-height: 40px;

}
ul.sub-menu> li{
    position :relative;
    a{
        text-decoration: none;
        color:color(accent);
        font-family: "Poppins",Arial,Helvetica,sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 16px;
        margin: 0;
       padding: 15px 10px 15px 10px;
       position: relative;
    }&:hover{
      background-color:color(primary);
      color: color(accent);
      &::before{
          content: '\276F';
      }
    }
}
li>ul{
    margin-left:100%;
    position: absolute;
    padding:10px;
    background: color(primary);
    width:100%;
    a{
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        display: block;
        padding: 15px 10px 15px 10px;
        position: relative;
    }
}

li>ul li:hover{
   padding-left: 3px;
}
.clearfix{
    clear:both;
}

@media screen and (max-width: 768px){
    li>ul{
        margin-left:0 !important;
        padding:20px 10px 10px 10px;
        background: color(primary);
        width:100%;
        position: relative !important;
    }
}