            <nav class="navbar navbar-expand-md navbar-dark hdr-bgcolor">
              <div class="container">
                <a class="navbar-brand" routerLink="/"></a>
                <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
                  <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" routerLink="/">Home</a></li>
                    <li><a class="nav-link" routerLink="/about">About Us</a></li>
                    <li class="nav-item dropdown" ngbDropdown>
                      <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Immigrate</a>
                      <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                        <ul class="sub-menu">
                          <li><a routerLink="/upload">Express Entry</a></li>
                          <li (mouseover)="familysponsorship = !familysponsorship" (mouseout)="familysponsorship = !familysponsorship">
                            <a routerLink="/familySponsership">Family Sponsorship <span class="sub-menu-icon"><b class="blh" [ngClass]="{'sub-menu1-tgl':!familysponsorship}">+</b><b class="blh" [ngClass]="{'sub-menu1-tgl':familysponsorship}">-</b></span></a> 
                            <ul class="sub-menu1" [ngClass]="{'sub-menu1-tgl':familysponsorship}">
                              <li><a routerLink="/sponsor-your-spouse"> - Sponsor your spouse</a></li>
                              <li><a routerLink="/sponsor-dependent-child"> - Sponsor your Dependent children</a></li>
                              <li><a routerLink="/sponsor-parents-grandparents"> - Parents &amp; Grandparents</a></li>
                              <li><a routerLink="/sponsor-relatives"> - Relatives</a></li>
                              <li><a routerLink="/adopted-child"> - Adopted child</a></li>
                            </ul><span class="clearfix"></span>
                          </li>
                          <li (mouseover)="nrovincialnominees = !nrovincialnominees" (mouseout)="nrovincialnominees = !nrovincialnominees"><a href="#">Provincial Nominees <span class="sub-menu-icon"><b class="blh" [ngClass]="{'sub-menu1-tgl':!nrovincialnominees}">+</b><b class="blh"  [ngClass]="{'sub-menu1-tgl':nrovincialnominees}">-</b></span></a> 
                            <ul [ngClass]="{'sub-menu1-tgl':nrovincialnominees}" class="sub-menu1">
                              <li><a href="#"> - Alberta (AINP)</a></li>
                              <li><a href="#"> - British Columbia (BC PNP)</a></li>
                              <li><a href="#"> - Manitoba (MPNP)</a></li>
                              <li><a href="#"> - New Brunswick (NBPNP)</a></li>
                              <li><a href="#"> - Newfoundland and Labrador (NLPNP)</a></li>
                              <li><a href="#"> - Nova Scotia (NSNP)</a></li>
                              <li><a href="#"> - Ontario (OINP)</a></li>
                              <li><a href="#"> - Prince Edward Island (PEI PNP)</a></li>
                              <li><a href="#"> - Saskatchewan (SINP)</a></li>
                              <li><a href="#"> - Yukon (YNP)</a></li>
                              <li><a href="#"> - Quebec</a></li>
                            </ul><span class="clearfix"></span>
                          </li>
                          <li><a routerLink="/atlanti-immigration-pilot-program">Atlantic Immigration Pilot Program</a></li>
                          <li><a href="#">Caregivers</a></li>
                          <li><a routerLink="/startup-visa-prog">Start Up Visa Program</a></li>
                          <li><a routerLink="/self-employed-immigration-prog">Self Employed Immigration</a></li>
                          <li><a routerLink="/rural-immigration-pilot-prog">Rural and Northern Immigration Pilot</a></li>
                          <li><a routerLink="/refugees">Refugees</a></li>
                          <li><a href="#">Appeals</a></li>
                          <li><a href="#">Pet Immigration</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Work</a>
                        <div class="dropdown-menu" aria-labelledby="id02" ngbDropdownMenu>
                          <ul class="sub-menu">
                            <li><a routerLink="/open-work-permit">Open Work Permit</a></li>
                            <li><a routerLink="/employee-specific-work-permit">Employer Specific Work Permit</a></li>
                            <li><a routerLink="/laber-market-impact-assestment">Labour Marker Impact Assessments (LMIA)</a></li>
                            <li><a routerLink="/work-permit-extension">Work Permit Extension</a></li>
                            <li><a routerLink="/agricultural-workers">Agricultural Workers</a></li>
                            <li><a href="#">Live-in Caregiver Program</a></li>
                            <li><a routerLink="/international-experiences">International Experience Canada</a></li>
                            <li><a routerLink="/global-skills-strategy">Global Skills Strategy</a></li>
                          </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                      <a class="nav-link dropdown-toggle" id="id03" ngbDropdownToggle>Study</a>
                      <div class="dropdown-menu" aria-labelledby="id03" ngbDropdownMenu>
                        <ul class="sub-menu">
                          <li><a routerLink="/super-visa">Super Visa</a></li>
                          <li id="menu-item-2435" class="menu-item menu-item-type-post_type menu-item-object-tm_service menu-item-2435"><a href="http://v9immigration.com/service/student-direct-stream/">Student Direct Stream</a></li>
                          <li><a routerLink="/coop-work-permit">Coop Work Permit</a></li>
                          <li><a routerLink="/oncampus-work">On Campus Work</a></li>
                          <li><a routerLink="/student-direct-stream">Student Direct Stream (SDS)</a></li>
                          <li id="menu-item-2574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2574"><a href="#">Change of DLI</a></li>
                          <li id="menu-item-2575" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2575"><a href="#">Work off Campus</a></li>
                          <li id="menu-item-2576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2576"><a href="#">Spousal Work Permit</a></li>
                        </ul>
                      </div>
                    </li>
                    <li><a class="nav-link">Visit</a></li>
                    <li><a class="nav-link">Citizenship</a></li>
                    <li><a class="nav-link">Other</a></li>
                    <li><a class="nav-link">Calculator</a></li>
                    <li><a class="nav-link">News</a></li>
                    <li><a class="nav-link">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </nav> 
