
<section class="my-container main background" style="padding:0px">
    <div class="content">
        <div class="container">
           <h1 class="heading-allPages">OUR Services</h1>
           <div class="breadcrums">
             <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
             <span> &nbsp; | &nbsp;</span>
             <span class="pages">OUR Services</span>
           </div>
       </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="main-img">
                    <img src="./assets/post-two-457x573.jpg" />
                </div>
                <div class="emergency-service-container">
                    <div class="display-only-table">
                        <div class="display-only-column"><i class="fa fa-whatsapp icon-whatsapp" aria-hidden="true"></i></div>
                        <div class="ligh-white display-only-column">
                            <div class="font16">For Emergency Calls:</div>
                            <div class="font25">0 800-222-56-45</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <p class="carousel-small font12 bold-class">CONSULTANCY</p>
                <h2 style="margin: 15px 0;" class="light-blue bold-class">High Quality Solutions</h2>
                <p class="ligh-gray">To obtain higher performance, Our leaders first identify the critical obstacles to forward progress and then develop a coherent approach to overcoming them. We define your company mission and prioritize company objectives.</p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 pt-3 pb-3">
                        <i class="fa fa-shield icon-size" aria-hidden="true"></i> <span class="medium-header ligh-gray">Advanced Analytics</span>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 pt-3 pb-3">
                        <i class="fa fa-shopping-bag icon-size" aria-hidden="true"></i> <span class="medium-header ligh-gray">Chain Management</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 pt-3 pb-3">
                        <i class="fa fa-bar-chart icon-size" aria-hidden="true"></i> <span class="medium-header ligh-gray">Corporate Finance</span>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 pt-3 pb-3">
                        <i class="fa fa-archive icon-size" aria-hidden="true"></i> <span class="medium-header ligh-gray">Private Equity</span>
                    </div>
                </div>
                 <br/>
                <div class="medium-header ligh-gray">Protect your business</div><span class="color-bar"></span>
                <p class="ligh-gray">He found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, Sed ut unde omnis natus error sit lorem voluptatem doloremque.</p>
            </div>
        </div>
        <div class="text-center mt-5">
            <p class="carousel-small font12 bold-class">OUR PRICING PLANS<br/><span class="color-bar"></span></p>
            <div>
                <h3 class="light-blue bold-class">Choose Your Affordable Pricing plans.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-visa [imagename]="'./assets/content/laptop-3317007_640.jpg'" [link]="'/coming-soon'" [visatitle]="'Work Permit Extension'" [visasummary]="'As per Canada immigration laws, an individual from any international territory or country is eligible to work in	...'"></app-visa>
              </div>
              <div class="col-md-4">
                <app-visa [imagename]="'./assets/content/startup-visa-prog.jpg'" [link]="'/coming-soon'" [visatitle]="'Start Up Visa Program'" [visasummary]="'Apart from federal workers and students, the Canadian Government has also initiated a pilot program to grant permanent residence to immigrant...'"></app-visa>
              </div>
              <div class="col-md-4">
                <app-visa [imagename]="'./assets/content/self-emp-immigration-prog.jpg'" [link]="'/coming-soon'" [visatitle]="'Self Employed Immigration'" [visasummary]="'Apart from federal workers and students, the Canadian Government has also initiated a pilot program to grant permanent residence to immigrant...'"></app-visa>
              </div>
        </div>
    </div>
</section>
