.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url(/assets/content/about.jpg);
    height:350px;
  }
  
.main-img{
    max-height: 400px;
    overflow: hidden;
    padding-right: 40px;
    position: relative;
}

.icon-size{
    font-size: 30px;
    color: rgb(247, 23, 53);
    margin-right: 20px;
}

.icon-whatsapp{
    font-size: 55px;
    color:#ffffff;
    margin-right: 20px; 
}

.emergency-service-container{
    background-color: #f71735;
    margin-top: -60px;
    z-index: 99999 !important;
    width: 350px;
    padding: 25px;
    position: absolute;
    right: 0;
    display: table;
}
