
<section class="my-container main background" style="padding:0px;  background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/cmg-soon.jpg');">
    <div class="content">
        <div class="container">
            <h1 class="heading-allPages">NOTICE TO CLIENTS</h1>
            <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                <span> &nbsp; | &nbsp;</span>
                <span class="pages">NOTICE TO CLIENTS</span>
            </div>
       </div>
    </div>
</section>

<div class="container" id="cookiepolicy">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8 col-lg-8"><br/>
            <p class="bold-class">Last updated: 02-May-2020</p>

            <p>We occasionally receive reports of unauthorized third parties posing as our service providers.  We value relationships with our clientele and regret that you may have been targeted and inconvenienced.</p>
            <p>Here are a few ways you can identify a fraud attempt.</p>
            <p>1. Immigration.ca prides itself on providing efficient services direct to its clientele, online. We utilize email, telephone, Skype and WhatsApp to communicate with our clients. This ensures effective communications at competitive fees.</p>
            <p>2. <span class="bold-class">We never contract with clients through representative third-parties.</span> V9 Immigration only represents its clientele under a written contract directly with its Director and RCIC (R519344), Mr. Govardhan Sai Venkat. Payment of our fees are never to be paid to any of our third-party affiliate agents unless by written authorization from our client.</p>
            <p>3. <span class="bold-class">We never take or receive payment details by telephone.</span> We donot call our clients by phone to receive financial details for payment of fees.  We discourage anyone from giving or sharing their personal financial information over the phone.</p>
            <p>4. <span class="bold-class">We do not guarantee entry to Canada.</span></p>
            <p>5. <span class="bold-class">We do not charge fees to access government forms or guides.</span></p>
            <p>6. <span class="bold-class">Payments to V9 Immigration:</span><br/>
                    When you make a payment to V9 Immigration, it is your right to demand a receipt for the same. V9 Immigration issues receipts for all payments made to the company. If you have any questions regarding payments to V9 Immigration, please send an email to <a href="mailto:mailto:applications@v9immigration.com">applications@v9immigration.com</a>
            </p>
            <p>7. <span class="bold-class">Payments to V9 Immigration staff:</span><br/>
                You are cautioned against making any additional payments to any V9 Immigration employee. If any V9 Immigration staff members offer to fabricate your profile or get you any kind of document for an additional fee, we strongly advise that you inform the management for us to take suitable action against the employee. Please note: the company is not liable if you enter into any verbal or written agreement with a V9 Immigration employee or his/her reference. If you have paid for any additional service to any V9 Immigration employee, we are not responsible for the consequences.
            </p>
            <p>8. <span class="bold-class">Vendors referred by V9 Immigration staff:</span><br/>
                We strongly discourage you from availing any service from vendors that may be suggested by any V9 Immigration employee as this is not endorsed or permitted by the company and you run the risk of fraud by indulging in the same. We are not responsible for any vendors who may have been referred by a V9 Immigration employee and we are not liable for any charges that you have paid to them.
            </p>
            <p>
                9. <span class="bold-class">Fraudulent Documentation:</span></p>
                V9 Immigration does not deal with cases where fraudulent documentation or information has been submitted. Your case will be accepted by V9 Immigration based on the information you have provided, which we assume is to be true. V9 Immigration is not liable if you have provided incorrect / misleading / fraudulent documentation or information.<br>
                V9 Immigration does not provide clients with any kind of documentation on its own and only works on documentation that has been provided by you. We assume that all that has been submitted to us is 100% true and correct.<br>
                V9 Immigration employees are strictly warned against illegal practices such as this and are required to adhere to V9 Immigration company policy. In the event of any employee going against company policy please contact us immediately<br>
                To avoid being duped and refused entry into foreign countries, you should bear in mind the following:
                <ul>
                    <li>Do not be misled by dishonest people into believing that it is acceptable practice to submit forged documents with your visa application. The application will be refused and you may face further investigation from respective country immigration authorities.</li>
                    <li>Do not believe people who say that they can, in exchange for money or other favors, influence the processing speed of applications or the final decision. Visa decisions are made only by visa officers authorized by the respective country.</li>
                    <li>Do not be fooled by imposters pretending to be visa officers from Embassies. Legitimate visa officers do not meet applicants outside their official place of work nor do they contact you to request for money.</li>
                    <li>Do not be fooled by fake websites designed to look like official government websites or like service delivery partner websites. Always get your visa information from official government websites.</li>
                    <li>Do not be duped by a job or visa scam. Many people are being cheated with overseas job offers that do not exist. Please deliberate your decision before you hand over your money, passport, and personal details.</li>
                </ul>

            <p><u>Note: If the job offer sounds too good to be true, it could be a scam.</u></p>
            <p>
                Canada& other countries welcome genuine visitors, students, and work immigrants. Immigration agencies in these countries will not tolerate any abuse to the immigration system and have a zero tolerance towards fraud. We strongly advise anyone who wants a visa for these countries not to listen to people who offers to sell forged documents and say that they can guarantee a visa. <br>
                Immigration Authorities have very effective methods for detecting fraud and work with international partners. When they uncover fraud, including false education and language certificates, the visa will be refused and the applicant may face a five-year visa ban as well as possible action by the other countries.
            </p>
            
            <p>
                Fraud is a criminal offense in USA, Australia, Canada and the UK, and can lead to severe penalties for those involved. But ultimately the responsibility for a visa application lies with the applicant. Providing fraudulent documents or misleading information can result in severe consequences not just for the staff but also the applicant. Applicants need to protect themselves from immigration fraud by being aware of the ways people may try to take advantage of them and their situation.
            </p>

            <p>
                V9 Immigration Management strongly advises you against indulging in any kind of fraud or misrepresentation of your profile.
            </p>
            <p>
                Please be warned that submission of fraudulent documentation to a visa issuing authority will result in you being banned from the country for no less than 10 years.
            </p>
            <p>
               10. <span class="bold-class">Jobs:</span><br>
               V9 Immigration does not guarantee jobs or charge the candidate for the job. If a V9 Immigration employee attempts to do this, please contact us immediately.<br>
               <u>Note: If the job offer sounds too good to be true, it could be a scam</u>
            </p>
            <p>
                11. <span class="bold-class">Guarantees::</span><br>
                V9 Immigration does not guarantee any candidate a job or a visa. No employee of V9 Immigration is permitted to do so. Visas are at the discretion of the visa officer and immigration department/embassy or consulate. Jobs are at the discretion of the employer only. No one can influence this decision and if an employee of V9 Immigration promises you the same, please contact us immediately.<br/>
                The best way to make sure you’re dealing with V9 Immigration is to initiate contact with us directly. <br/>
                You can reach us by phone: +1 (778) 728 1999 or +1 (778) 558 4184 or by email at <a href="mailto:applications@v9immigration.com">applications@v9immigration.com</a><br/>
                We also encourage you to report your experience to Canadian authorities citizenship-fraud-tips@cic.gc.ca or by calling 1-888-495-8501.

            </p>    
            <p>
                Protect yourself from immigration fraud know more at below link:<br/>
                <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/protect-fraud.html" target="_blank">https://www.canada.ca/en/immigration-refugees-citizenship/services/protect-fraud.html</a>
            </p>
        </div>
    </div>
</div>        