<!--<div class="container home-mar-top">
  <div class="row">
    <div class="col-md-3">
      <div class="feature-blurb-block">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Apply for Visa</h3>
          <p class="feature-blurb-text">Find information and begin your application.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" routerLink="/home/upload" class="btn-link">Start Apply Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block-odd">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Book an appointment</h3>
          <p class="feature-blurb-text">Schedule your appointment with us.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Find a centre</h3>
          <p class="feature-blurb-text">Information about your local centre.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Find Centre Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature-blurb-block-odd">
        <div class="feature-blurb-content">
          <h3 class="feature-blurb-title">Premium services</h3>
          <p class="feature-blurb-text">Enjoy a faster, more easy and more fast application.</p>
          <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">View Service</a>
        </div>
      </div>
    </div>

  </div>
</div>-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <header>
          <div class="text-small">
            <h4 class="text-small-red">{{our_goals.sub_header}}</h4>
            <hr class="visa-hr" style="width: 54px; margin-left: 0;">
            <h4 class="tm-custom-heading-blue ">{{our_goals.header}}</h4>
          </div>
          <div class="content-wrapper">
            <p class="visa-card-para">
              {{our_goals.text_content}}
            </p>
          </div>
        </header>

      </div>

      <div class="col-md-8">
        <div class="row homecontent-formobile">
          <div class="col-md-4">
            <img class="animatedssecond" [src]="our_goals.img[0]" alt="A">
          </div>
          <div class="col-md-8">
            <img class="animated" [src]="our_goals.img[1]" alt="B">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="hero">
  <div class="container">
    <div class="diagonal-hero-bg">
      <div class="stars">
        <div class="small"></div>
        <div class="medium"></div>
        <div class="big"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <header>
          <div class="text-small">
            <h4 class="text-small-white ">{{aboutHome.sub_header}}</h4>
            <h3 class="heading-white ">{{aboutHome.header}}</h3>
          </div>
        </header>
        <p class="p-content-wrapper" style="color: antiquewhite;">
          {{aboutHome.text_content}}
        </p>
        <div class="marginTopCls hero-text ">
          <button>
            <a class="acnchor-tag" routerLink="/about">Read More</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg">
  <div class="container content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="text-small">
          <h4 class="text-small-white ">{{whyus.sub_header}}</h4>
          <h3 class="heading-white ">{{whyus.header}}</h3>
        </div>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" [src]="whyus['immigration'].icon" alt="Immigration">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count">{{whyus['immigration'].count}}</span>
                </h2>
                <p class="text-small-white">{{whyus['immigration'].title1}}</p>
                <p class="visa-card-para">{{whyus['immigration'].title2}}</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" [src]="whyus['customer'].icon" alt="Customer">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count">{{whyus['customer'].count}}</span>
                </h2>
                <p class="text-small-white">{{whyus['customer'].title1}}</p>
                <p class="visa-card-para">{{whyus['customer'].title2}}</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" [src]="whyus['student'].icon" alt="Student">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count">{{whyus['student'].count}}</span>
                </h2>
                <p class="text-small-white">{{whyus['student'].title1}}</p>
                <p class="visa-card-para">{{whyus['student'].title2}}</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="impact-block">
                <div class="impact-icon mb40 icon-default">
                  <img class="icon-style" [src]="whyus['country'].icon" alt="Country">
                </div>
                <h2 class="impact-title">
                  <span class="counterup count">{{whyus['country'].count}}</span>
                </h2>
                <p class="text-small-white">{{whyus['country'].title1}}</p>
                <p class="visa-card-para">{{whyus['country'].title2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container home-mar-top">
    <div class="text-center">
      <h3 class="feature-blurb" class="tm-custom-heading-blue">{{ourService.sub_header}}</h3>
      <hr class="visa-hr">
      <p>{{ourService.header}}</p>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">
        <app-visa [imagename]="ourService['family'].img" [link]="'/family/familySponsership'" [visatitle]="ourService['family'].title" [visasummary]="ourService['family'].para"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="ourService['work'].img" [link]="'/work/employee-specific-work-permit'" [visatitle]="ourService['work'].title"
          [visasummary]="ourService['work'].para"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="ourService['study'].img" [link]="'/visit/coming-soon'" [visatitle]="ourService['study'].title" [visasummary]="ourService['study'].para"></app-visa>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-visa [imagename]="ourService['visit'].img" [link]="'/visit/coming-soon'" [visatitle]="ourService['visit'].title" [visasummary]="ourService['visit'].para"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="ourService['citizenship'].img" [link]="'/visit/coming-soon'" [visatitle]="ourService['citizenship'].title" [visasummary]="ourService['citizenship'].para"></app-visa>
      </div>
      <div class="col-md-4">
        <app-visa [imagename]="ourService['other'].img" [link]="'/visit/coming-soon'" [visatitle]="ourService['other'].title" [visasummary]="ourService['other'].para"></app-visa>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="how-it-works-hdr">
    <p class="text-center carousel-small">HOW IT WORK</p>
    <hr class="visa-hr" style="width: 54px; ">
    <h4 style="text-align: center;" class="tm-custom-heading-blue">Three Simple Step To Started Working Process</h4>
  </div>
 
  <div class="themetechmount-boxes-row-wrapper tm-processbox-wrapper">
    <div class="container">
      <div class="row">
        <div style="margin-top: -30px; margin-left: 0;" class="col-md-4 col-lg-4 col-sm-12 text-left">
          <div class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">01</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Discussion</h5>
              </div>
              <div class="tm-box-description">Suggest the best immigration program suitable for the client needs.</div>
            </div>
          </div>
        </div>
        <div style="margin:auto" class="col-md-4 col-lg-4 col-sm-12 text-center">
          <div style="margin-top: 40px;" class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">02</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Documentation</h5>
              </div>
              <div class="tm-box-description">Collect all the required documents, evaluate, verify and analyze.</div>
            </div>
          </div>
        </div>
        <div style="margin-right: 0; margin-top:30px" class="col-md-4 col-lg-4 col-sm-12 text-right">
          <div class="tm-processbox">
            <div class="tm-box-image">
              <div class="process-num">
                <span class="number">03</span>
              </div>
            </div>
            <div class="tm-box-content">
              <div class="tm-box-title">
                <h5 class="how-it-work">Submission</h5>
              </div>
              <div class="tm-box-description">submits to CIC (Citizenship & Immigration Canada) or respective Canadian visa offices.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div style="padding:30px 0;background-image: url('./assets/content/map-bg-image.jpg');" class="background">
  <div class="container"> 
       <div class="swiper-container-feedback">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-inc-container">
              <div>
                  <img class="swiper-img-height" src="./assets/content/commenter.webp">
              </div>
              <div>
                Very polite staff and took care of all my documentation. Done all my documentation in less than 2 days.
              I will definitely recommend to all my friends and family. Before meeting Mr. Venkat I met 3 different immigration consultants 
              and they scared me a lot, but he handled everything so smooth. Thank you so much for that V9 immigration team and a very 
              special thanks to Mr. Venkat.
              
              <p class="commenter">Jagadish Muramalla</p>
              </div>
           </div>   
        </div>
        <div class="swiper-slide">
          <div class="swiper-inc-container">
              <div>
                <img class="swiper-img-height" src="./assets/content/commenter.webp">
              </div>
              <div>
                  I just got my PR approved and wanted to leave feedback for V9’s potential clients. 
                  Venkat and Tej are amazing, I have been with them for 3 years now and they were always there for me. Unlike other consultants, they give advice that serves best in their client’s interests. I can trust them for my future applications and would recommend to all my friends.
                  <p class="commenter">Jaspreet Kaur</p>
              </div> 
          </div>       
        </div>
        <div class="swiper-slide">
          <div class="swiper-inc-container">
              <div>
                <img class="swiper-img-height" src="./assets/content/commenter.webp">
              </div>
              <div>
                Great Service and Very informative, highly recommended for any kind of immigration service and advice. Mr. Venkat, very politely helps us with accurate and appropriate information.
                  <p class="commenter">Chaitanya Krishna</p>
              </div> 
          </div>       
        </div>
        </div>
        
        <!-- <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      </div>
  </div>
</div>

<section class="container">
  <!-- <app-swiper [options]="swiperContainer"  [dclass]="'ootion2'"> -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div>
      <div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div>
      <div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div>
      <div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div><div class="swiper-slide">
        <img src="./assets/content/team-img.jpg">
      </div>
      </div>
  <!-- </app-swiper> -->
  </div>
</section>