<div class="my-container main">

    <div class="content">
        <div class="container">
        <h1>About Us</h1>
        <p>We don't need to say more about ourselves, as you will have lot
            more to say when you get acquainted with the V9 team.</p>
    </div>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <header>
                <div class="text-small">
                    <h4 class="text-small-red ">ABOUT US</h4>
                    <h4 class="tm-custom-heading-blue">Why V9 Immigration</h4>
                </div>
                <div class="content-wrapper">
                    <p>At V9 immigration you are guaranteed quality, advanced technology, a wide range of immigration
                        case management tools, not to mention our top talented professional,
                        ensuring that your immigration case is well handled with the utmost care.</p>
                </div>
            </header>
            <div class="ul_wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <ul
                            class="tm-list tm-list-style-icon tm-list-icon-color-skincolor tm- tm-icon-skincolor tm-list-textsize- tm-list-icon-library-fontawesome vc_custom_1585778668771">
                            <li><i class="icon fa fa-arrow-circle-right"></i>
                                <span class="tm-list-li-content">RCIC Member</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i>
                                <span class="tm-list-li-content">Client-centric focus</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i>
                                <span class="tm-list-li-content">Evidence-based analysis</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i>
                                <span class="tm-list-li-content">To time and Money</span></li>
                            <li><i class="icon fa fa-arrow-circle-right">

                                </i> <span class="tm-list-li-content">Our thinking</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul
                            class="tm-list tm-list-style-icon tm-list-icon-color-skincolor tm- tm-icon-skincolor tm-list-textsize- tm-list-icon-library-fontawesome vc_custom_1585778512029">
                            <li><i class="icon fa fa-arrow-circle-right"></i> <span class="tm-list-li-content">Our
                                    thinking</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i> <span class="tm-list-li-content">Our
                                    Expertise</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i> <span class="tm-list-li-content">We
                                    care</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i> <span class="tm-list-li-content">Our
                                    Policy</span></li>
                            <li><i class="icon fa fa-arrow-circle-right"></i> <span
                                    class="tm-list-li-content">Affordability</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="immg_wrapper">
                <div class="img-container">
                    <img src="./assets/content/post-two.jpg" style="width:100%">
                </div>


            </div>
        </div>

    </div>
    </div>
   <section class="bg" id="bg"> <div class="row">
        <div class="col-md-6">

            <div class="immg_wrapper">
                <div class="img-container">
                    <img src="./assets/content/Mission-1024x570.jpg" style="width:100%">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <header>
                <div class="text-small">
                    <h4 class="heading-white">OUR MISSION</h4>
                </div>
                <div class="p-content-wrapper">
                    <p class="visa-card-para">To inspire people to immigrate across borders where ideas, skills, expertise, education and
                        knowledge are recognized and celebrate success moments &amp; happiness in their lives.</p>
                </div>
            </header>
        </div>

    </div>
    </section>
    <div class="container content-wrapper">
    <div class="row">
        <div class="col-md-6">
            <header>
                <div class="text-small">
                    <h4 class="tm-custom-heading-blue">OUR VISSION</h4>
                </div>
                <div class="p-content-wrapper">
                    <p >To be the best global immigration consultancy by demonstrating steady growth
                        driven by V9 core values, making immigration easier and faster.</p>
                </div>
            </header>
            </div>
            <div class="col-md-6">
            <div class="immg_wrapper">
                <div class="img-container">
                    <img src="./assets/content/money-2724238_1280-1024x570.jpg" style="width:100%">
                </div>
            </div>
        </div>
    </div>

</div>
<section class="">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <header>
                <div class="text-small" style="text-align:center;margin-bottom:24px;">
                        <h4 class="tm-custom-heading-blue">OUR VALUES</h4>
                        <hr class="visa-hr">
                </div>
                <div class="content-wrapper" style="padding:25px;">
                    <p style="text-align:center;">Immigration is our passion and committed to do our best. We follow code of ethics all times and
                        never compromise.
                        We advice and serve our clients with honesty and respect at all times.</p>
                </div>
            </header>
    <div class="timeline">
        <div class="tm-container left">
          <div class="tm-content">
            <h2 class="visa-card-title">COMMITMENT</h2>
            <p>  A commitment to doing good for our clients, colleagues and our company. Always reliable to our
                clients, we remain loyal and steadfast no matter what. Protect the client’s privacy.</p>
          </div>
        </div>
        <div class="tm-container right">
          <div class="tm-content">
              <h2 class="visa-card-title">INNOVATION</h2>
            <p class="p-content-wrapper">We always strive to be better using innovative methods and technologies.</p>
          </div>
        </div>
        <div class="tm-container left">
          <div class="tm-content">
              <h2 class="visa-card-title">INTEGRITY</h2>
            <p class="p-content-wrapper"> We have strong moral principles which we stick on to.</p>
          </div>
        </div>
        <div class="tm-container right">
          <div class="tm-content">
              <h2 class="visa-card-title">OWNERSHIP</h2>
            <p> We hold ourselves accountable for what we do and keep ourselves in the shoes of our clients.</p>
          </div>
        </div>
        <div class="tm-container left">
            <div class="tm-content">
                <h2 class="visa-card-title">PASSION</h2>
              <p class="p-content-wrapper"> We are passionate for Immigration and take pride in our work</p>
            </div>
          </div>
          <div class="tm-container right">
            <div class="tm-content">
                <h2 class="visa-card-title">PERSERVERANCE</h2>
              <p>  We keep going even when faced with seemingly insurmountable obstacles.</p>
            </div>
          </div>
          <div class="tm-container left">
              <div class="tm-content">
                  <h2 class="visa-card-title">TEAMWORK</h2>
                <p class="p-content-wrapper"> We are stronger as a team. We act with honesty, integrity and ethically.</p>
              </div>
            </div>
            <div class="tm-container right">
              <div class="tm-content">
                  <h2 class="visa-card-title">TRANSPARENCY</h2>
                <p> We are straightforward, communicate openly and clear.</p>
              </div>
            </div>

      </div>
    </div>
  </div>
  </div>
</section>
<div class="my-container mainbg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <header>
                        <div class="tm-vc_cta3-headers tm-wrap-cell">
                            <p class="text-small-white ">WHO WE ARE</p>
                            <h3 class="heading-white ">We don't need to say more about ourselves, as you will have lot
                                more to say when you get acquainted with the V9 team.</h3>
                        </div>
                    </header>
                </div>
                <div class="bgBanner">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="./assets/content/team-img.jpg" />
                        </div>
                        <div class="col-sm-6">
                                <div class="side-content">
                                    <header >

                                            <h3 style="font-size:30px;line-height:40px;color:#000;font-family:'Poppins',Arial,Helvetica;font-weight:600;"
                                                class="tm-custom-heading ">Govardhan Sai Venkat, Venna</h3>
                                            <h4 class="text-small-red">CEO &amp; Founder- V9 Immigration Inc.</h4>

                                    </header>
                                    <div class="content-wrapper">
                                        <p align="justify">Govardhan Sai Venkat, Director of V9 Immigration is Regulated
                                            Canadian Immigration Consultant (R519344) offers right advice to Immigrate,
                                            Study, Work, Visit to Canada and having great success due to his ethics,
                                            professional knowledge and friendly nature. He handles every case
                                            individually and directs his professionally qualified team members. Hailed
                                            from a family of legal professionals from India, Govardhan knows the
                                            challenges new immigrants face in a new community, new country like Canada
                                            to study, work, live or visit.</p>
                                        <p align="justify">V9 specialized in immigration to Canada for independent
                                            applicants and businesses. V9 is 100% committed to giving clients our full
                                            support at every step of the immigration process. We recognize that every
                                            individual has a specific need and choice and that is why we treat every
                                            individual with the utmost care and respect.</p>
                                        <p></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


