$colors:(
    primary:#f12a02,
    accent:#fff,
    primary-light:lighten(#f12a02, 40%),
    primary-dark:darken(#f12a02, 40%),
    dark:#22242691,
    transparentDark: #222426e3
);
@function color($color-name){
    @return map-get($colors, $color-name)
};
  .my-container {
    position: relative;
    background: color(primary);
    overflow: hidden;
    hr.line {
        border-top: 2px dashed rgb(210, 207, 223);
      }
}
/* You could use :after - it doesn't really matter */
    .main {
    
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/content/titlebar-bg.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        height:300px;
    } 
    .content {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }
      
      #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
      }
      
      #myBtn:hover {
        background: #ddd;
        color: black;
      }