$colors:(
    primary:#f12a02,
    accent:#fff,
    primary-light:lighten(#f12a02, 40%),
    primary-dark:darken(#f12a02, 40%),
    dark:#22242691,
    transparentDark: #222426e3,
    grey: #7e7171,
    lightGrey:#ddd
);
@function color($color-name){
    @return map-get($colors, $color-name)
};
 .my-container {
    position: relative;
    background: color(primary);
    overflow: hidden;
    hr.line {
        border-top: 2px dashed rgb(210, 207, 223);
      }
}
/* You could use :after - it doesn't really matter */
.row{
    padding:10px 0px 10px 0px;
}
 .main {

        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/content/about.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        height:300px;
   }
    .content {
        position: absolute;
        bottom: 0;
        background: #46415f38;
        // background: #361eb838;
        color: #fff;
        width: 100%;
        padding:20px;
        p{
          width:45%;
        }
    }

    #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: color(grey);
        color: color(accent);
        cursor: pointer;
    }

    #myBtn:hover {
        background: color(lightGrey);
        color: black;
   }
.content-wrapper{
       p{
        font-family: "Poppins",Arial,Helvetica,sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #687076;
       }
       ul{
           list-style-type: none;
           padding: 0;
           padding-left: 0;
           li{
            position: relative;
            padding-bottom: 12px;
            .icon{
                color: color(primary) !important;
            }
            span{
                display: inline-block;
                padding-left: 27px;
                font-weight: 400;
                color: #8d9297
            }
           }
       }
   }
.mainbg{
        background-image:linear-gradient(rgba(218, 21, 21, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/content/road-220058_1280.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        .bgBanner{
          background: color(accent);
          margin-bottom: 20px;
          padding:20px 40px;
        }
        .header-content{
            text-align : center;
            padding:20px 0 10px 0;
            &:after{
                display: block;
                content: "";
                position: absolute;
                width: 43px;
                bottom: -20px;
                height: 4px;
                left: 50%;
                margin-left: -21px;
                top: auto;
                background-color: #fff;
            }
        }
     }
.bg#bg{
  clip-path: polygon(0 11%, 100% 0, 100% 86%, 0 99%, 0% 38%);
  header{
    position: relative;
    top:30%;
  }
};
//time line
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0b0c26;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tm-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tm-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #0b0c26;
  border: 4px solid #98222f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #0b0c26;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #0b0c26;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #0b0c26;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0b0c26 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.tm-content {
  padding: 10px 30px;
  background-color: #0b0c26;
  position: relative;
  border-radius: 6px;
  color:white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  /* Full-width containers */
  .tm-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .tm-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
