
<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Super Visa</h1>
       </div>
       </div>
     </section>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
           </div>
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/super-visa.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Super Visa</h3>
                        <p>With about 35 million people visiting Canada every year on a temporary basis, Canadian immigration rules are updating frequently to allow the temporary visitors in working or studying in Canada by obtaining a Temporary Resident Visa (TRV).</p>
                        <p>The Grandparents and parents super visa provide parents and grandparents of Canadian citizens and permanent residents an opportunity to stay up to 2 years in Canada without renewing their status. Maximum validity of the super visa is either 10 years or 1 month before the expiry date of the applicant’s passport, which ever earlier.</p>
                        <p>This program also allows grandparents and parents from certain visa exempt countries to apply for a letter of introduction, which can be considered as a vital document to enter Canada and stay for a period of 24 months.</p>
                        <p>With short processing time of about 8 weeks, this program is superficially beneficially for its applicants.</p>
                        <h3 class="allPages-heading" >Eligibility Criteria</h3>
                        <p>Given below are mandatory requirements for grandparents and parents to avail the super visa program services:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The applicant must meet basic criteria for a regular visitor visa as given below:
                                <ul class="ul-li-before-img">
                                    <li>He or She must be in good health.</li>
                                    <li> Applicant should have valid travel documents.</li>
                                    <li>He or She should assure the immigration official about leaving Canada on authorized date.</li>
                                    <li>There should be enough contact with the home country, such as through a job, family or property.</li>
                                    <li>He or She should be able to fund his/her stay in Canada.</li>
                                </ul>
                            </li>
                            <li>
                                The applicant must provide evidence about being grandparent or parent of a Canadian citizen or permanent resident.
                            </li>
                            <li>
                                The applicant should be registered for a medical insurance policy, from a Canadian insurance company, with validity up to 1 year and coverage of at least 100000 Canadian dollars for health care, hospitalization and repatriation.
                            </li>
                            <li>He or She must undergo a medical examination.</li>
                        </ol>
                        <p>Given below are mandatory requirements for family member of the applicant:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Provide evidence to show he or she is a Canadian citizen or permanent residence.</li>
                            <li>Send a letter of invitation to the applicant. This letter must include the following:
                                <ul class="ul-li-before-img">
                                    <li>Information about the applicant’s planned visit.</li>
                                    <li>Details about his or her occupation and economic situation in Canada.</li>
                                    <li>Written and signed confirmation of financial support to the applicant during the entire visit.</li>
                                </ul>
                            </li>
                            <li>Show that the income is above a pre-defined minimum threshold level.</li>
                        </ol>

                        <p>Important Notes:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>The holder of a super visa program cannot work or study in Canada.</li>
                            <li>A super visa can be availed even while applying for permanent residence.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
