<router-outlet></router-outlet>


<div id="Sidenav_chatbox_id" class="sidenav_chatbox">
    <div id="chattop">
        <img src="./assets/chat.JPG" style="float:left" /> V9 Immigration 
        <span style="float:right;cursor:pointer" (click)="close_chatbox()">&times;</span>
    </div>
	<div>
        <app-chatbot></app-chatbot>
    </div>
</div>
<div id="main">
    <div class="fixchatbox">
        <!-- <img src="./assets/chat.png"  (click)="open_chatbox()" alt="Chat" /> -->
        <div (click)="open_chatbox()" style="width: 160px; height: 45px;background-color: #f12a02;color: #ffffff; padding: 10px; cursor: pointer;">Chat with Us &nbsp;&nbsp;&nbsp; <i class="fa fa-window-maximize" aria-hidden="true"></i></div>
    </div> 
</div>