

      <section class="my-container main background" style="padding:0px">
          <div class="content">
                 <div class="container">
                 <h1>Employer Specific Work Permit</h1>
             </div>
             </div>
           </section>

<div class="container ">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
          </div>
        <div class="col-md-8">
            <div class="immg_wrapper">
                <div>
                    <img class="img-container" src="./assets/content/post2.jpg" />
                </div>
                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="allPages-heading">Employer Specific Work Permit</h3>
                        <p>
                            Apart from the temporary work permit program to hire foreign workers, employers in Canada can also opt for the International Mobility Program to fill labour shortages in their companies, by hiring candidates across the globe. Examples of the employer specific work permit programs are:
                        </p>
                        <ul class="ul-li-before-img">
                            <li>NAFTA Work Permits</li>
                        	<li>Intra Company Transfer Work Permits</li>
                        </ul>
                       <h3 class="allPages-heading">Criteria for Employers</h3>

                        <p>Employers providing job offers to foreign candidates are required to fulfil below given couple of criteria:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Use the provided forms and electronic systems to provide offer of employment directly to the Citizenship and Immigration Canada (CIC).</li>
                            <li>Use electronic method to pay the compliance fees.</li>
                            <li>Provide copy of employment offer to the foreign nationals.</li>
                        </ol>

                        <h3 class="allPages-heading">Process of IMP</h3>
                        <p>The process of employer specific work permit application involves the following steps:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Employer pays the compliance fees using Pay Your Fees web page.</li>
                            <li>Once the receipt number is received, the employers are required to complete Offer of Employment to a Foreign National Exempt from a Labour Market Assessment (LMIA) form, namely IMM 5802.</li>
                            <li>Once the form is completed, employers must submit the form electronically by clicking on the ‘Submit’ button. This step attaches the employment offer for direct submission to the Citizenship and Immigration Canada.</li>
                            <li>The employers are then required to forward copies of their completed IMM 5802 forms to the foreign workers to be submitted along with the work -permit application.</li>
                            <li>The immigration officer assesses the employer specific work permit application and confirms the following:
                                <ul class="ul-li-before-img">
                                    <li>Completed work permit application along with the IMM 5802 form.</li>
                                    <li>Valid receipt number verified using the employer compliance fees through the work permit Fee view tab in the Global Case Management System (GCMS).</li>
                                    <li>Once receipt number is validated for submission along with the copy of IMM 5802 form, the foreign national application is accepted regardless of the time frame of submission of the form with respect to the work permit application.</li>
                                </ul>
                            </li>
                        </ol>


                        <h3 class="allPages-heading">Employer Compliance</h3>
                        <p>Once a foreign national is hired by the employer and he/she starts working in that company or organization, the employer is subjected to go through inspection by the Immigration, Refugees and Citizenship, Canada (IRCC) to make sure below given conditions are met:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>The employer has actively included the hired foreign worker in all compensation benefits and medical coverage programs.<li>
                            <li>The employer complies with the conditions and time limits mentioned in the worker’s work permit application.</li>
                            <li>The employer is actively involved in the business for which the worker was hired in the first place.</li>
                            <li>The worker is involved in the same occupation as was mentioned in the offer of employment.</li>
                            <li>The worker is provided with the same wage and working conditions as mentioned in the offer of employment.</li>
                            <li>The employer actively follows all federal, provincial, and territorial employment laws, including recruitment laws.</li>
                            <li>The workplace is free of any kind of physical, sexual, psychological, and financial abuse.</li>
                            <li>The employer contains documentations related to the hiring and employment of the foreign worker, up to a period of 6 years.</li>
                        </ol>

                        <p>The employer may be considered for inspection by the IRCC, or the Employment and Social Development, Canada (ESDC) on behalf of the IRCC, for the following 3 reasons:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Valid reason to be suspected of non-compliance.</li>
                            <li>Past record of being found non-compliant.</li>
                            <li>Random selection of the employer for inspection.</li>
                        </ol>

                        <p>Once an employer is selected for inspection, the following criteria must be met:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>The employer reports at the specified time and location to answer questions.</li>
                            <li>Necessary documents are provided as mentioned in the received letter.</li>
                            <li>The employer attends any onsite inspections as requested.</li>
                        </ol>

                        <p>If any employer is found to be non-compliant, a letter explaining the violation and the resulting penalties would be issued. The employee is then given 30 days to give a written response about the violation, resulting penalties or both. </p>
                        <p>The response from the employer includes justification from non-compliance, which can be acceptable on the below grounds:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Change in a collective agreement.</li>
                            <li>Change in provincial or federal laws.</li>
                            <li>Impact of changing economic conditions on the employer business.</li>
                            <li>Any unintentional administrative or accounting mistake made by the employer, and subsequent efforts made to rectify the errors.</li>
                            <li>Any exceptional event such as a natural disaster.</li>
                        </ol>

                        <p>The above given justifications should be submitted on paper to the IRCC, and if the justification is accepted, the employer is freed of the non-compliant charge.</p>

                        <h3 class="allPages-heading">Penalties Incurred</h3>
                        <p>The issued penalties depend on the date of occurrence of violations as given below:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>If the date is before December 1st, 2015; The employer name and address is added to the list of non-compliant employers and are barred from hiring any temporary worker through TFWP or IMP for a period of two years.</li>
                            <li>If the date is on or after December 1st, 2015; The employer would face a range of consequences as defined by the below factors:
                                <ul class="ul-li-before-img">
                                    <li>Compliance history</li>
                                    <li>Severity of non-compliance</li>
                                    <li>Type of violation</li>
                                    <li>Size of business</li>
                                    <li>Voluntarily disclosed information prior to inspection</li>
                                </ul>
                            </li>
                        </ol>

                        <p>Penalties incurred by the employer are as follows:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Written or verbal warnings.</li>
                            <li>Ban for period ranging from 1 to 10 years, or even permanent.</li>
                            <li>Company named in the list of defaulters with non-compliance record.</li>
                            <li>Refusal of associated work permit applications.</li>
                            <li>Annulation of previously issued work permits.</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
