<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">Rural and Northern Immigration Pilot</h1>
        <hr class="line">
        <p>Rural and Northern Immigration Pilot</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/oncampus-work.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">Rural and Northern Immigration Pilot</h3>
                        <p>The Rural and Northern Immigration Pilot program involves small and remote communities from different Canadian territories in recognizing and hiring global talent and encouraging foreign workers to settle and blend with the local community and culture.</p>
                        <p>The below list of communities is involved in participation of the above said program:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>North Bay, Ontario</li>
                            <li>Sudbury, Ontario</li>
                            <li>Timmins, Ontario</li>
                            <li>Sault Ste. Marie, Ontario</li>
                            <li>Thunder Bay, Ontario</li>
                            <li>Brandon, Manitoba</li>
                            <li>Altona/Rhineland, Manitoba</li>
                            <li>Moose Jaw, Saskatchewan</li>
                            <li>Claresholm, Alberta</li>
                            <li>Vernon, British Columbia</li>
                            <li>West Kootenay (Trail, Castlegar, Rossland, Nelson), British Columbia</li>                            
                        </ol>                     

                        <p>The below given requirements are mandatory for a community to participate in the program:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Belong to any of the following territories; Alberta, Manitoba, Northwest Territories, Nunavut, Ontario, Saskatchewan, Yukon and British Columbia.</li>
                            <li>Is a remotely located community (determined by Statistics Canada’s index of remoteness) with around 200000 population or is located at least 75 kilometres from core of a Census Metropolitan Area with population of about 50000 people.</li>
                            <li>Has sufficient job opportunities and an economic development plan.</li>
                            <li>Has a local economic development organization to manage the community pilot.</li>
                            <li>Promote settlement of new immigrants through any of the following:
                                <ul>
                                    <li>Develop relationships with local or regional immigrant serving organizations.</li>
                                    <li>Give access to significant services like education, housing, health care and transportation.</li>
                                    <li>Connect newcomers with established members of the community through activities such as mentoring and networking.</li>
                                </ul>
                            </li>
                        </ol>
                       <p>Below given federal criteria are mandatory for the potential candidates to be eligible for the Rural and Northern Immigration Pilot program:</p>
                       <ol style="list-style: lower-alpha;">
                            <li>The candidate must have a recommendation from one of the designated communities (made by the designated community economic development organization), based on his/her intention to live in the community, job offer, work experience, skills, community’s economic needs and ties to the community.</li>
                            <li>The candidate has one year of continuous work experience in past 3 years or has graduated from a public post-secondary institution in the recommending community.</li>
                            <li>The candidate should have an authentic job offer to work in one of the designated communities.</li>
                            <li>The candidate must have language ability for NOC skill type/level of the corresponding job.</li>
                            <li>Candidate has sufficient funds to settle and support themselves and their accompanying family members.</li>                                        
                        </ol>

                        <h3>Work Experience</h3>
                        <p>Below given conditions qualify for a valid work experience by applicants of the Rural and Northern Immigration Pilot</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Candidate has a minimum of 1 year of continuous and paid work experience.</li>
                            <li>He or She should have experience in one occupation, though with different employers.</li>
                            <li>Candidates should have performed majority of the duties listed in the National Occupational Classification (NOC) corresponding to their profession.</li>
                            <li>Any kind of self-employment is considered to ineligible.</li>
                        </ol>

                        <h3>Education</h3>
                        <p>Following points specify the conditions laid down for a candidate’s education details:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Candidate has a diploma from a Canadian high school or equivalent diploma from a foreign country, established by anEducational Credential Assessment (ECA) report from a designated authority.</li>
                            <li>Candidate has a master’s degree or PHD in a full-time course, obtained his/her certificate within 18 months of the submission of PR application, and from a recognized college/institution in the community.</li>
                            <li>Full time graduates, with a degree, diploma, certificate or other credentials obtained within 18 months from application of permanent residence, from a post-secondary program are exempt from work experience requirement, provided they have stayed in the community for a minimum of 16 months from the last 2 years of education.</li>
                        </ol>

                        <p>Following individuals are not eligible to apply as International students:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>Individuals who have studied English or French for more than half the program.</li>
                            <li>Persons who require scholarship or fellowship which requires them to return to their home country.</li>
                            <li>Individuals who had enrolled in distance education.</li>
                        </ol>    

                        <h3>Job Offer</h3>
                            <p>The Rural and Northern Immigration Pilot program requires a candidate to have an authentic, full-time, permanent job offer which fulfils the following criteria:</p>
                            <ol style="list-style: lower-alpha;">
                                <li>Meets the genuine requirements of the employer.</li>
                                <li>Is in tandem with the employer’s active business.</li>
                                <li>Contains terms and conditions surely fulfilled by the employer.</li>
                                <li>Includes wage which meets the minimum salary requirement for the corresponding NOC in Canada.</li>
                                <li>Is from an employer who is compliant with employment laws and regulations.</li>
                                <li>Belongs to the same skill level or one skill level above or below the applicable NOC, except for candidates with skill level D, where it is mandatory to have a job offer in same occupation.</li>
                            </ol>

                            <h3>Language Requirements</h3>
                            <p>Similar to other immigration programs, this program also requires the potential candidate to prove their language ability as per the NOC skill levels:</p>
                            <ol style="list-style: lower-alpha;">
                                <li>Canadian Language Benchmark (CLB) level 6 for NOC 0 and A.</li>
                                <li>Canadian Language Benchmark (CLB) level 5 for NOC B.</li>
                                <li>Canadian Language Benchmark (CLB) level 4 for NOC C and D.</li>
                            </ol>   
                            
                            <h3>Proof of Funds</h3>
                            <p>The potential candidates should prove their ability to support themselves and their family members during their stay in Canada in form of some self-acquired funds, which can be proved by any of the following paperwork:</p>
                            <ol style="list-style: lower-alpha;">
                                <li>Property or investment documents (stocks, bonds, debentures, treasury bills, etc.)</li>
                                <li>Bank account statements.</li>
                                <li>Authentic documents which guarantee payment done to candidates (such as money orders, banker’s drafts, cheques, etc.)</li>
                            </ol>
                            <p>Note: Candidates who legally work in Canada at the time of application do not have to show proof of funds.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <form style="margin-top:25px;">
                <div class="container">
                    <h3>Free Immigration Assessment</h3>
                    <p>Find out your options for visa by completing a free online assessment.</p>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="psw"><b>Password</b></label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>
                 
                    <button type="submit" class="registerbtn">Book My Free Assessment</button>
                </div>
            </form>
        </div>
    </div>
</div>