<div class="widget-login">
    <div  id="bg"></div>
    <main class="container">
        <section id="card">
            <ul><li>
                <span></span>
                <strong>How May I help you?</strong>
            </li>
            <li>
                <span></span>
                <strong>How May I help you?</strong>
            </li>
            <li>
                <span></span>
                <strong>How May I help you?</strong>
            </li>
        </ul>
        </section>
        <section id="primary">
            <h1>Welcome Back,</h1>
            <p>Sign in to Continue</p>
            <form>
                <div class="container">
            <div class="frame">
             <!---- <div class="nav">
                <ul class="links">
                    <li class="signin-active"><a class="btn">Sign in</a></li>
                    <li class="signup-inactive"><a class="btn">Sign up </a></li>
                  </ul>
                </div>-->
                
                    <label>User Name</label>
                    <input type="text" class="inputStyle" placeholder="User name"/>
                    <label>Password</label>
                    <input type="password" class="inputStyle" placeholder="Password"/>
                    <button class="btn btn-default btnStyle" type="submit"> Submit</button>
            </div>
              </div>
            </form>
            <!--<a href="#">Get help already</a>-->
        </section>
    </main>
 </div>   

