<div class="my-container main-f-s">
    <div class="hero-text container">
        <h1 style="font-size:50px">Student Direct Stream</h1>
        <hr class="line">
        <p>Student Direct Stream</p>
    </div>
</div>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/oncampus-work.jpg" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;">Student Direct Stream</h3>
                        <p>The student direct stream provides a fast track process for students from few Asian countries to quickly avail the study permit and study in Canada. Launched in June2018, by the Immigration, Refugee and Citizenship, Canada, the SDS applications are processed generally processed within 20 days provided the applicant meets all eligibility criteria and gives the biometrics as soon as possible.</p>
                        <h3>Eligibility Criteria</h3>
                        <p>Given below are eligibility criteria for a student to qualify for the Student Direct Stream program:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>He or She should be from any of the below given Asian countries:
                                <ul>
                                    <li>China</li>
                                    <li>India</li>
                                    <li>Morocco</li>
                                    <li>Philippines</li>
                                    <li>Pakistan</li>
                                    <li>Senegal</li>
                                    <li>Vietnam</li>
                                </ul>
                            </li>
                            <li>
                                The candidate must have a letter of acceptance from a Designated Learning Institution. The letter of acceptance should contain the student personal details, DLI details, DLI number, details of study program, etc.
                            </li>
                            <li>The applicant must provide evidence that tuition pay for the first year of study is paid.</li>
                            <li>He or She should purchase a Guaranteed Investment Certificate of 10000 Canadian Dollars.A GIC is a Canadian investment having guaranteed rate of return for a fixed amount of time. Given below are important criteria to obtain a GIC:
                                <ul>
                                    <li>Applicant should obtain any of the following important documents from the bank:
                                        <ul style="list-style: none;">
                                            <li> - Attestation letter</li>
                                            <li> - GIC certificate</li>
                                            <li> - Investment Directions Confirmation or Investment Balance Confirmation</li>
                                        </ul>
                                    </li>   
                                    <li>The GIC should be held in an investment or student account which cannot be accessed until the applicant arrives in Canada.</li>
                                    <li>GIC funds are released only to individuals who have confirmed their identity.</li>
                                    <li>
                                        Funds are released by providing the following:
                                        <ul style="list-style: none;">
                                            <li> - Initial amount once individual is identified upon arrival in Canada.</li>
                                            <li> - Remaining amount in monthly or bi-monthly instalments over 10 to 12 months.</li>
                                        </ul>                                  
                                    </li> 
                                </ul>
                                List of financial institutions offering GICs is provided on the Canadian Deposit Insurance Company website.
                            </li>     
                            <li>
                                        Applicant should have passed themedical certificate exam before applying for the student direct stream. Following persons need to get a medical exam:
                                            <ul>
                                            	<li>Belongs to or stayed in certain countries or territories for 6 or more months before arriving in Canada. <br/>
                                                    List of these countries is available at: <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/medical-police/medical-exams/requirements-temporary-residents/country-requirements.html" target="_blank">https://www.canada.ca/en/immigration-refugees-citizenship/services/application/medical-police/medical-exams/requirements-temporary-residents/country-requirements.html</a>
                                                </li>
                                                <li>Plans to study or work in the health field, primary/secondary education, or child/elder care.</li>
                                            </ul>
                            </li>
                            <li>The applicant should have a police clearance certificate, as directed by the visa office.</li>
                            <li>Applicant must satisfy all or any of the following educational requirements:
                                        <ul>
                                            <li>A minimum of 6 in English language (IELTS).</li>
                                            <li>Score of 7 in French language (Niveaux de competence linguistique canadiens)</li>
                                            <li>Graduation from a Canadian curriculum high school.</li>
                                        </ul>
                            </li>                             
                        </ol>
                        <p>Only way to apply for a study permit through the student direct stream is through online application. However, the applicant should have necessary documents and other relevant things like the instruction guide, scanner or camera to create soft copies of the documents, and valid credit or debit card to make a payment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <form style="margin-top:25px;">
                <div class="container">
                    <h3>Free Immigration Assessment</h3>
                    <p>Find out your options for visa by completing a free online assessment.</p>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="psw"><b>Password</b></label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>
                 
                    <button type="submit" class="registerbtn">Book My Free Assessment</button>
                </div>
            </form>
        </div>
    </div>
</div>