<section class="my-container main background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/contact.jpg');">
  <div class="content">
    <div class="container">
      <h1>Contact Us</h1>

      <span style="width: 100px;" class="color-bar">&emsp;&emsp;&emsp;&emsp;</span>
    </div>
  </div>
</section>
<section style="background: #f8f9fa;" >
<div class="mb-4 container">


  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold my-4">Get in Touch</h2>
  <hr class="visa-hr" style="width: 54px; margin-left: 0;">
  <!--Section description-->
  <hr class="divider">
  <h5 class="mx-auto mb-5 heading">You can contact us any way that is convenient for you. I am available 24/7 via fax or email. You can also use a quick contact
    form below or visit us personally. We would be happy to answer your questions.</h5>
  <!-- <div style="background: #204061;"> -->
  <div class="row">
    <div class="col-md-6 col-lg-6 mb-md-0 mb-5">
      <div class="spacing">
        <form id="contact-form" name="contact-form" method="POST">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="name" class="">First Name</label>
                <input type="text" id="name" name="name" class="form-control">

              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="">Last Name</label>
                <input type="text" id="email" name="email" class="form-control">

              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="phone" class="">Phone</label>
                <input type="text" id="phone" name="phone" class="form-control">

              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="">Email</label>
                <input type="text" id="email" name="email" class="form-control">

              </div>
            </div>

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row mt-3">

            <!--Grid column-->
            <div class="col-md-12">

              <div class="md-form">
                <label for="message">Your message</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
              </div>

            </div>

            <div class="col-md-12 text-right mt-4 pt-3">

              <button class="btn btn-danger">Submit Details</button>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 col-xl-6">
      <div class="spacing">
        <h6 class="bold-class">Address:</h6>
        <div class="address-wrapper">

          <hr class="divider">
          <ul class="addressList">

            <li>
              <div id="icon">
                <a href="#" style="color:rgb(243, 55, 55)">
                  <i class="fa fa-phone icon-bar-fa icon" style="font-size:38px"></i>
                </a>
              </div>
              <div id="para">
                <span class="tm-list-li-content">Phone Numbers</span>
                <p>Canada: +1778-728-1999 / +1(778) 558 4184</p>
                <p>India: +91 93077 59999 / +91 93077 69999</p>
              </div>
            </li>

            <li>
              <div id="icon">
                <a href="#" style="color:rgb(243, 55, 55)">
                  <i class="icon fa fa-map-marker" style="font-size:38px" aria-hidden="true"></i>
                </a>
              </div>
              <div id="para">
                <span class="tm-list-li-content">Canada Office Address</span>
                <p>V9 Immigration, 217 – 8028 , 128 St , Surrey, BC V3W 4E9, Canada </p>
              </div>
            </li>
            <li>
              <div id="icon">
                <a href="#" style="color:rgb(243, 55, 55)">
                  <i class="icon fa fa-map-marker" aria-hidden="true" style="font-size:38px"></i>
                </a>
              </div>
              <div id="para">
                <span class="tm-list-li-content">India Office Address</span>
                <p> F.No:303, R.V.PranathiApts, Behind RavindraBharati School, Dilsukhnagar, Telangana, 500 060, India </p>
              </div>
            </li>
            <li>
              <div id="icon">
                <a href="#" style="color:rgb(243, 55, 55)">
                  <i class="fa fa-envelope icon-bar-fa icon" style="font-size:33px"></i>
                </a>
              </div>
              <div id="para">
                <span class="tm-list-li-content">
                  Email Addresses</span>
                <p>info@v9immigration.com</p>
              </div>
            </li>


          </ul>

        </div>
      </div>
    </div>
    <!--Grid column-->
    <!-- <h3>Contact us</h3>
    <span style="width: 100px;" class="color-bar">&emsp;&emsp;&emsp;&emsp;</span> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2609.7458015804687!2d-122.8693376847869!3d49.148450588194024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485dbb374708c93%3A0xebb306302325b1d0!2sV9%20Immigration!5e0!3m2!1sen!2sca!4v1585855161731!5m2!1sen!2sca"
      width="100%" height="350" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
    <br>



  </div>
  <!-- </div> -->
</div>
</section>
