
<section class="my-container main background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Open Work Permit</h1>
           <p>We don't need to say more about ourselves, as you will have lot
               more to say when you get acquainted with the V9 team.</p>
       </div>
       </div>
     </section>

<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img  class="img-container"  src="./assets/content/Work-Permit-1.png" />
                </div>

                <div class="">
                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="tm-custom-heading ">Open Work Permit</h3>
                        <p>In accordance with Canada’s immigration laws, spouses and/or common law partners of temporary foreign workers and students in Canada are eligible for employment through an open work permit. Since it is neither employer nor job specific, the individual can work for any Canadian employer irrespective of having a confirmed job offer or not.</p>
                        <p>The spouse or common law partner can attain the open work permit if the primary applicant is a skilled worker and meets the following requirements:
                        </p>
                        <ol style="list-style: lower-alpha;">
                            <li>The primary applicant holds a valid work permit for a period of at least 6 months.</li>
                            <li>The individual is employed in a job corresponding to skill level 0, A or B of the National Occupation Classification (NOC).</li>
                            <li>The primary applicant resides or intends to reside in Canada during his/her employment.</li>
                        </ol>
                        <p>For spouses or common law partners of international students, below given rules hold importance for that international student:</p>
                        <ol style="list-style: lower-alpha;">
                            <li>The individual has a valid study permit and is a full-time student at any of the below given educational institutes:
                                <ul>
                                    <li>Public post-secondary school such as a college or university, or CEGEP in Quebec.</li>
                                    <li>Canadian private school that is eligible to award degrees (Bachelors’, Masters’ or Doctorate) under provincial laws.</li>
                                    <li>Private college level school in Quebec.</li>
                                </ul>
                            </li>
                            <li>The individual has completed his/her graduation and holds a valid post-graduation work permit for a job related to the field of study.</li>
                        </ol>
                        <p>The open work permit is issued to the spouse or common law partners with a validity date in accordance with the time period during which the primary applicant is allowed to stay or work in Canada.</p>

                        <h3>Inland Spousal/Common Law Partner Sponsor Open Work Pilot Program</h3>
                        <p>The Inland Spousal/Common Law Partner Sponsor Open Work Pilot program is one such initiative which grants open work permits to spouses or common law partners of Canadian citizens or permanent residents, while their PR application is still under process.As per the inland sponsorship program, spouses or common law partners of citizens or permanent residents of Canada who have temporary permission to work or study in Canada can apply for permanent residence.</p>
                        <p>The spouse or common law partner should meet the following requirements to be granted the open work permit:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>Applicant should reside at the same address as the sponsor.</li>
                            <li>He/she should have valid temporary resident status as a visitor, student or worker.</li>
                            <li>The applicant and the sponsor should meet all mandatory requirements under sponsorship act.</li>
                            <li>A permanent residence application must be submitted under the family sponsorship program.</li>
                        </ol>

                        <h3>Post Graduate Work Permit Program</h3>
                        <p>Apart from spouses or common law partners, the Canadian immigration law also allows its international students, completing their post-secondary education in Canada, a chance to gain Canadian work experience through post-graduation work permit program.</p>
                        <p>The program provides a period of up to 3 years for eligible international students to work in Canada after the end of their studies. The international student can work for any Canadian employer without having any valid Canadian job offer.</p>
                        <p>Below given requirements are essential for an international student to avail the open work permit service:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>Completed a degree, diploma or certificate from any academic, vocational or professional training program from a designated learning institute, for at least 8 months long.</li>
                            <li>Held a full-time student status in Canada during the entire academic session of the study program.</li>
                            <li>Includes a transcript and an official letter from the eligible designated learning institute confirming authenticity of the applicant’s completion of degree.</li>
                            <li>Graduated from any of the following institutions;
                                <ul>
                                    <li>A public post-secondary organization such as a college, trade or technical school, or a university, or CEGEP in Quebec.</li>
                                    <li>A private post-secondary school (in Quebec) operating under same rules as the public school.</li>
                                    <li>A private secondary or post-secondary school (in Quebec) offering qualifying programs of 900 hours or more, issuing any of the following degrees; diplôme d’études professionnelles (DEP)or attestation de spécialisation professionnelle (ASP).</li>
                                    <li>Canadian private school which can degrees like Associates, Bachelors, Masters, or Doctorate degrees under provincial laws, provided the student was enrolled in that particular study program.</li>
                                </ul>
                            </li>
                            <li>The applicant must have held or still holding a valid study permitor was allowed in study in Canada without study permit as per para 188 (1) (a) and (b) of the Immigration and Refugee Protection Regulations.</li>
                        </ol>
                        <p>Since 2019, the maximum time to apply for the post-graduation work permit is increased from 90 days to 180 days.</p>
                        <p>The international students are not eligible for the PGWP program in the following cases:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>Have been previously issues PG work permit.</li>
                            <li>Received financial aid from Global Affairs Canada (GAC).</li>
                            <li>Took part in Government of Canada Awards Program, sponsored by GAC.</li>
                            <li>Has been a member of the Canada China Scholars’ Exchange Program.</li>
                            <li>Obtained the Canada-Chile Equal Opportunity scholarship.</li>
                            <li>Took part in the Organization of American States Fellowships Program.</li>
                            <li>Has been involved in distance learning study during most of their study tenure.</li>
                            <li>Completed studies from a non-Canadian institution in Canada, irrespective of the duration of stay.</li>
                        </ol>
                        <h3>Bridging Open Work Permit Program</h3>
                        <p>The Bridging Open Work Permit (BOWP) program allows foreign workers, whose work permit is on the verge of expiry, to continue working in Canada while their permanent residence application is under process. This saves the applicants and their families from inconveniences such as leaving Canada temporarily, staying in Canada as a visitor, or finding an employer for the process of Labour Market Impact Assessment (LMIA).</p>
                        <p>Express entry applicants can apply for the BOWP program once the electronic Acknowledgement of Receipt is generated in the MyCIC account after online application of the permanent residence. This letter can be used instead of waiting for the actual Acknowledgement of Receipt letter issued by the Immigration, Refugees and Citizenship, Canada (IRCC). However, completeness check is mandatory to be performed at the Centralized Intake office, for the BOWP application to be processed. The BOWP application would be kept on hold until the completeness check has been performed. In case of incomplete e-APR, applicant would no longer be eligible for BOWP.</p>

                        <p>Below given criteria should be met for an individual to be eligible for bridging open work permit program:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The applicant has valid work permit, which is about to expire in near future.</li>
                            <li>He or She is the primary applicant under any immigration scheme such as Federal Skilled Workers, Canadian Experience Class, Provincial Nomination Program or the Federal Skilled Traders.</li>
                            <li>The applicant has received positive eligibility assessment on his/her application.</li>
                            <li>He or She has applied for open work permit.</li>
                        </ol>

                        <p>The below given conditions bar a foreign national from applying for open work permit:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The individual resides in Canada under section 186 of Immigration and Refugee Protection Regulations.</li>
                            <li>Work status of the foreign national has expired.</li>
                            <li>Individual’s work permit is longer than 4 months and he/she has a new LMIA to be used as basis for new work permit.</li>
                            <li>The individual has already applied for a bridging work permit at port of entry.</li>
                            <li>Applicant of provincial nomination program has not submitted his nomination letter along with the bridging work permit application.</li>
                        </ol>

                        <p>Apart from the applicants, Canadian immigration laws also permit the spouse, of bridging work permit holder, to apply for open work permit as per the below conditions:</p>

                        <ol style="list-style: lower-alpha;">
                            <li>The bridging work permit is valid for more than 6 months.</li>
                            <li>For FSW applicants, the BWP holder should perform work at a level within the National Occupational Classification (NOC) skill levels 0, A or B.</li>
                            <li>Spouse of a PNP applicant is eligible for open work permit for the duration of the work permit held by the former, regardless of the applicant’s profession.</li>
                            <li>The FST applicant, having bridging work permit, should be involved in a profession within any of the qualifying occupations in NOC skill level B.</li>
                        </ol>

                        <p>The dependent children must obtain an LMIA or have LMIA exemption under specific condition to apply for a work permit.</p>
                        <p><b>Note:</b> For PNP applicants under bridging work permit application, the employment location should be within the nominated province itself. For rest, there are no restrictions.</p>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
