
<section class="my-container main background" style="padding:0px; height: 350px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/cmg-soon.jpg');">
    <div class="content">
        <div class="container">
            <h1 class="heading-allPages">Legal Disclaimer for V9 Immigration Inc.</h1>
            <div class="breadcrums">
                <span class="home"> <a routerLink="/"><i class="fa fa-home breadCrums-icon" aria-hidden="true"></i> &nbsp;Home</a></span>
                <span> &nbsp; | &nbsp;</span>
                <span class="pages">Legal Disclaimer</span>
            </div>
       </div>
    </div>
</section>
<div class="container" id="disclaimer">
    <div class="row">
        <div class="col-md-4">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12"><br/>
            
            <p class="bold-class">Last Updated on 02-May-2020</p>

            <p>This website is administered on behalf of the V9 IMMIGRATION INC. a duly constituted corporation under the Canada Business Corporations Act and is not an affiliate, intermediary or representative of the Government of Canada or any Provincial Government or Territory in Canada.</p>
            
            <p>All the information on this website - <a routerLink="/">www.v9immigration.com</a> or www.v9immigration.ca - is published in good faith and for general information purpose only and does not in any way assess an individual’s eligibility for Canadian or any other country immigration.</p>
            <p>V9 Immigration does not make any warranties about the completeness, reliability and accuracy of this information. V9 Immigration makes reasonable effort to ensure the quality of the information available on its website. </p>
            
            <p>V9 Immigration (<a routerLink="/">www.v9immigration.com</a> or <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a> ) will not be liable for any losses and/or damages incurred by use of or reliance on the information contained on its website and cannot guarantee and assumes no legal liability or responsibility for the accuracy or completeness of the information in connection with the use of our website. </p>
            
            <p>Any action you take upon the information you find on our website/s <a routerLink="/">www.v9immigration.com</a> or <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a>, is strictly at your own risk. Nothing contained on <a routerLink="/">www.v9immigration.com</a> or <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a> is to be used as professional advice and the content of the website is not a substitute for the advice of Regulated Canadian Immigration Consultant <a href="http://www.iccrc-crcic.ca/home.cfm" target="_blank">(Immigration Consultants of Canada Regulatory Council- ICCRC)</a> or a Lawyer or a paralegal. </p>
            
            <p>Users should contact a Regulated Canadian Immigration Consultant (RCIC) such as V9 Immigration and get appropriate professional advice relevant to their particular circumstances before any action or decision is taken on the basis of any of the material provided throughout on <a routerLink="/">www.v9immigration.com</a> or <a href="www.v9immigration.ca" target="_blank">www.v9immigration.ca</a> </p>
            <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>
            <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>
            <p>Writings from this site may be reproduced for the personal non-commercial use of interested individuals on the express or implied condition that the contents herein are not edited, modified nor altered in whole or in part, directly or indirectly without the express written consent of V9 Immigration Inc- <a href="mailto:info@v9immigration.com">info@v9immigration.com</a></p>
            <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at <a href="mailto:info@v9immigration.com">INFO@V9IMMIGRATION.COM</a></p>
            <p class="bold-class">Consent</p>
            <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
            <p class="bold-class">Update</p>
            <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
            <p>Our Disclaimer was generated with the help of the <a href="https://www.disclaimergenerator.net/" target="_blank">Disclaimer Generator.</a> </p>
        </div>
    </div>
</div>    