 form {
    .container{
       padding:10px;
      }
  }

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url(/assets/content/cmg-soon.jpg);
  height:350px;
}


.rowTop{
  padding:20px 0 20px 0;
}
