 form {
    .container{
       padding:10px;
      }
  }
  //custom select
  .main-f-s {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/content/titlebar-bg.jpg');
    height:300px;
}


.rowTop{
  padding:20px 0 20px 0;
}
