
<section class="my-container  main-f-s  background" style="padding:0px">
    <div class="content">
           <div class="container">
           <h1>Family Sponsorship</h1>
           <p>We don't need to say more about ourselves, as you will have lot
               more to say when you get acquainted with the V9 team.</p>
       </div>
       </div>
 </section>
<div class="container content-wrapper">
    <div class="row">
        <div class="col-md-8">

            <div class="immg_wrapper">
                <div>
                    <img src="./assets/content/parents.jpg" style="width:100%">
                </div>

                    <div class="content_wrapper">
                        <h3 style="margin-top:20px;" class="tm-custom-heading ">Family Sponsorship</h3>
                        <p>As mentioned by the minister on 11-Jan-2019 Family reunification is always an immigration priority for the Government of Canada as it supports economic prosperity and strengthens the communities</p>
                        <p>A large number of Canadians, permanent residents want to bring their loved family members to Canada who are living abroad and Government of Canada is introducing different immigration programs to make this dream come true.</p>
                        <p>If you are at least 18 years old, meeting minimum eligibility requirements set by the Government of Canada and a</p>
                        <ul>
                            <li>Canadian citizen or </li>
                            <li>person registered in Canada as an Indian under the Canadian Indian Act or </li>
                            <li>permanent resident of Canada </li>
                        </ul>
                        then you may sponsor certain relatives such as
                        <ul>
                            <li>spouseor common law partner or conjugal partner</li>
                            <li>dependent children, </li>
                            <li>parents, </li>
                            <li>grandparents, </li>
                            <li>adopted child and </li>
                            <li>some relatives (if they meet the criteria set by the Government of Canada).</li>
                        </ul>
                    </div>
                    <p>Please choose one of the options below to know more about the available sponsorship programs</p>
                <div class="row">

                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div style="margin:5px 5px 5px 0;">
                            <img src="./assets/content/spouse.jpg" style="width: 100%; min-height:150px;" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Sponsor your spouse or common law partner</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div style="margin:5px 5px 5px 0;">
                            <img src="./assets/content/dependent-child.jpg" style="width: 100%; min-height:150px;" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Sponsor your dependent children</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div style="margin:5px 5px 5px 0;">
                            <img src="./assets/content/parents.jpg" style="width: 100%; min-height:150px;" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Sponsor your parents or Grandparents</button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div style="margin:5px 5px 5px 0;">
                            <img src="./assets/content/parents.jpg" style="width: 100%; min-height:150px;" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Sponsor your Relatives</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div style="margin:5px 5px 5px 0;">
                            <img src="./assets/content/adopted-child.jpg" style="width: 100%; min-height:150px;" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Sponsor your Adopted Child</button>
                        </div>
                    </div>
                </div>
                <p>If you are interested in applying under the above programs or what to know more options available for your situation, we invite you to complete the Immigration assessment or contact us here.</p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white" style="background:#fff">
           <section>
             <form>
                <div class="container">
                    <h3>Free Immigration Assessment</h3>
                    <p>Find out your options for visa by completing a free online assessment.</p>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="psw"><b>Password</b></label>
                    <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <button type="submit" class="registerbtn">Book My Free Assessment</button>
                </div>
            </form>
            </section>
            <section>
                <div class="text-small">
                    <h4 class="tm-custom-heading-blue">Get In Touch</h4>
                </div>
                <ul
                class="tm-list tm-list-style-icon tm-list-icon-color-skincolor tm- tm-icon-skincolor tm-list-textsize- tm-list-icon-library-fontawesome vc_custom_1585778668771">
                <li><i class="icon fa fa-arrow-circle-right"></i>
                    <span class="tm-list-li-content">RCIC Member</span></li>
                <li><i class="icon fa fa-arrow-circle-right"></i>
                    <span class="tm-list-li-content">Client-centric focus</span></li>
                <li><i class="icon fa fa-arrow-circle-right"></i>
                    <span class="tm-list-li-content">Evidence-based analysis</span></li>
            </ul>
             </section>
        </div>
      </div>
    </div>
</div>
