 form {
    .container{
       padding:10px;
      }
  }

.main {
  height:350px;
}


.rowTop{
  padding:20px 0 20px 0;
}
.hero-text {
  padding-top:12px;
}
.hero-text button{
  background: #000;
  color: #fff;
  width: 100%;
  font-size:16px;
}
button a{
  color: #fff;
}
