<div class="bg-white" style="background:#fff">
   <!-- <section>
      <form>
        <div class="container">
          <h3>Free Immigration Assessment</h3>
          <p>Find out your options for visa by completing a free online assessment.</p>
          <label for="email">
            <b>Email</b>
          </label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <label for="psw">
            <b>Password</b>
          </label>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <label for="email">
            <b>Email</b>
          </label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <button type="submit" class="registerbtn">Book My Free Assessment</button>
        </div>
      </form>
    </section> -->
    <section class="address-wrapper">
      <header>
        <div class="text-small">
          <h4 class="tm-custom-heading-blue" style="font-size:25px">Get In Touch</h4>
          <hr class="visa-hr" style="width: 54px;
        margin-left: 0;">
        </div>
      </header>
      <ul class="addressList">

        <li>
          <div id="icon">
            <a href="#" style="color:rgb(243, 55, 55)">
              <i class="fa fa-phone icon-bar-fa icon"></i>
            </a>
          </div>
          <div id="para">
            <span class="tm-list-li-content">Phone Numbers</span>
            <p>Canada: +1778-728-1999 / +1(778) 558 4184</p>
            <p>India: +91 93077 59999 / +91 93077 69999</p>
          </div>
        </li>

        <li>
          <div id="icon">
            <a href="#" style="color:rgb(243, 55, 55)">
              <i class="icon fa fa-map-marker" aria-hidden="true"></i>
            </a>
          </div>
          <div id="para">
            <span class="tm-list-li-content">Office Address</span>
            <p>V9 Immigration, 217 – 8028 , 128 St , Surrey, BC V3W 4E9, Canada</p>
            <p>F.No:303, R.V.PranathiApts, Behind RavindraBharati School, Dilsukhnagar, Telangana, 500 060, India</p>
          </div>
        </li>
        <li>
          <div id="icon">
            <a href="#" style="color:rgb(243, 55, 55)">
              <i class="fa fa-envelope icon-bar-fa icon"></i>
            </a>
          </div>
          <div id="para">
            <span class="tm-list-li-content">
              Email Addresses</span>
            <p>info@v9immigration.com</p>
          </div>
        </li>


      </ul>
    </section>
    <section class="address-wrapper">
      <header>
        <div class="text-small">
          <h4 class="tm-custom-heading-blue" style="font-size:25px">Blogs</h4>
          <hr class="visa-hr" style="width: 54px;
          margin-left: 0;">
        </div>
      </header>
      <ul class="addressList">

        <li>
          <div id="img">
            <a href="#" style="color:rgb(243, 55, 55)">
              <img src="./assets/blogs/visa-1.jpg">
            </a>
          </div>
          <div id="paraImg">
            <span class="tm-list-li-content">Student Visa</span>
            <p>Call Now:+1778-728-1999</p>
          </div>
        </li>

        <li>
          <div id="img">
            <a href="#" style="color:rgb(243, 55, 55)">
              <img src="./assets/blogs/visa-2.jpg">
            </a>
          </div>
          <div id="paraImg">
            <span class="tm-list-li-content">Business Visa</span>
            <p>V9 Immigration, 217 – 8028 , 128 St , Surrey, BC V3W 4E9, Canada</p>
          </div>
        </li>
        <li>
          <div id="img">
            <a href="#" style="color:rgb(243, 55, 55)">
              <img src="./assets/blogs/visa-3.jpg">
            </a>
          </div>
          <div id="paraImg">
            <span class="tm-list-li-content">
              Job Seeker Visa</span>
            <p>info@v9immigration.com</p>
          </div>
        </li>
        <li>
          <div id="img">
            <a href="#" style="color:rgb(243, 55, 55)">
              <img src="./assets/blogs/visa-4.jpg">
            </a>
          </div>
          <div id="paraImg">
            <span class="tm-list-li-content">
              Tourist & Visitor Visa</span>
            <p>info@v9immigration.com</p>
          </div>
        </li>

      </ul>
    </section>
    <section class="address-wrapper">
      <header>
        <div class="text-small">
          <h4 class="tm-custom-heading-blue" style="font-size:25px">Tags</h4>
          <hr class="visa-hr" style="width: 54px;
            margin-left: 0;">
        </div>
      </header>
      <ul class="addressList">

        <li>

          <div>
            <button class="btn-small">Business</button>
            <button class="btn-small">Studies</button>
            <button class="btn-small">Family</button>
            <button class="btn-small">Job</button>
            <button class="btn-small">Tourist</button>
            <button class="btn-small">Marrital</button>
            <button class="btn-small">Business</button>
            <button class="btn-small">Health</button>
            <button class="btn-small">Wealth</button>
          </div>
        </li>


      </ul>
    </section>
  </div>
