<section class="my-container main background" style="padding:0px;     background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/about.jpg');">
    <div class="content">
        <div class="container">
            <h1>Canadian Experience Class</h1>
            <span style="width: 100px;" class="color-bar">&emsp;&emsp;&emsp;&emsp;</span><br/>
            <p>The CEC is a changeless occupant classification for people with skilled work experience in Canada. </p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <app-side-bar></app-side-bar>
        </div>
    <div class="col-md-8 col-lg-8">
        <div class="row">
            <div class="col-md-12 col-lg-12">
               <hr class="divider" />
            <div class="entry-content">
                <div class="themetechmount-box-desc-text">
                    <p>The CEC is a changeless occupant classification for people with skilled work experience in Canada. It was produced for transitory foreign workers and graduates with qualifying Canadian work experience.</p>
                    <p class="allPages-heading">Who can apply for the Canadian Experience Class?</p>
                    <p>You should finish an Express Entry profile as the initial step to move to Canada for all time as an experienced worker under the Canadian Experience Class.</p>
                    <p>Utilize CIC’s Come to Canada tool to check whether you meet the criteria to get into the Express Entry pool.</p>
                    <p  class="allPages-heading">Eligibility requirements</p>
                    <p>To be eligible for the CEC through Express Entry, you should have:</p>

                    <ul style="padding-left:15px ;" class="ul-li-before-img">
                        <li>At slightest a year of skilled work experience in Canada, over the most recent three years (before you apply). The work was:</li>
                        <li>Full-time OR equivalent in part time</li>
                        <li>Gained your work involvement in Canada with the proper authorization.</li>
                        <li>Meet the required language abilities required for your occupation for each language ability</li>
                        <li>Writing</li>
                        <li>Reading</li>
                        <li>Listening</li>
                        <li>Speaking</li>
                        <li>Planned to live outside the area of Quebec</li>
                    </ul>

                    <p>Independent work and work encounter picked up while you were a full-time student, (for example, on a co-op work term) doesn’t count under this program.</p>

                    <p>Note: The region of Quebec does not use Express Entry. They select their own talented specialists. See Quebec-skilled workers to discover more.</p>
                    <p class="allPages-heading">Skilled work experience:</p>
                    <p>To be qualified for the CEC, you need Canadian skilled work experience over three years of applying. As per the Canadian National Occupational Classification (NOC), gifted work encounter implies:</p>

                    <ul style="padding-left:15px;" class="ul-li-before-img">
                        <li>Managerial occupations (NOC ability level 0)</li>
                        <li>Professional occupations (NOC ability sort A)</li>
                        <li>Technical occupations and gifted exchanges (NOC aptitude sort B)</li>
                    </ul>
                    <p class="allPages-heading">Your experience must be at any rate</p>

                    <ul style="padding-left:15px;" class="ul-li-before-img">
                        <li>12 months of full time work</li>
                        <li>30 hours/week for a year = 1-year full time (1,560 hours), OR</li>
                        <li>Equal sum in low maintenance hours, for example,</li>
                        <li>15 hours/week for two years = 1-year full time (1,560 hours)</li>
                        <li>30 hours/week for a year at more than one employment = 1-year full time (1,560 hours)</li>
                    </ul>

                    <p>You should demonstrate that you did the obligations set out in the work related description in the NOC. This incorporates all the primary obligations recorded.</p>
                    <p>In the event that you don’t demonstrate that your experience meets the description in the NOC, CIC won’t accept your application.</p>

                    <p  class="allPages-heading">Education</p>

                    <p>There is no education necessary for the Canadian Experience Class. However, you can get points for your education under Express Entry, if:</p>

                    <ul style="padding-left:15px;" class="ul-li-before-img">
                        <li>You went to class in Canada, and have a testament, confirmation or degree from a Canadian:</li>
                        <li>Secondary (secondary school) or post secondary education</li>
                        <li>You have foreign education, and you have an Educational Credential Assessment (ECA) report from an endorsed organization demonstrating that your outside instruction is equivalent to a completed certificate, diploma or degree from a Canadian:</li>
                        <li>Secondary (secondary school) or post secondary education</li>
                    </ul>

                    <p class="allPages-heading">Language abilities</p>
                    <p>You should: Meet the base minimum language ability of:</p>
                    <ul style="padding-left:15px;" class="ul-li-before-img">
                        <li>Canadian Language Benchmark (CLB) 7 for NOC 0 or An employments OR</li>
                        <li>Canadian Language Benchmark (CLB) 5 for NOC B employments</li>
                    </ul>
                    <p>You should demonstrate that you meet the prerequisites in English or French by including the test results form when you finish your Express Entry profile. Your results must not be over two years of age on the day you apply for permanent residence.</p>

                </div>

            </div><!-- .entry-content -->
            </div>
        </div>
    </div>

    </div>
</section>
