<div class="container home-mar-top">
    <div class="row">
        <div class="col-md-3">
            <div class="feature-blurb-block">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Apply for Visa</h3>
                    <p class="feature-blurb-text">Find information and begin your application.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Start Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block-odd">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Book an appointment</h3>
                    <p class="feature-blurb-text">Schedule your appointment with us.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Find a centre</h3>
                    <p class="feature-blurb-text">Information about your local centre.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">Find Centre Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feature-blurb-block-odd">
                <div class="feature-blurb-content">
                    <h3 class="feature-blurb-title">Premium services</h3>
                    <p class="feature-blurb-text">Enjoy a faster, more easy and more fast application.</p>
                    <a href="https://visahub.wporganic.com/elementor/enquiry-form/" class="btn-link">View Service</a>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div class="text-center">
        <h3 class="feature-blurb">Immigration Service for You</h3>
        <p>Our experts are able to find new growth opportunities in your business. sodales erat et libero ultricies auctor et rhoncus sapien. </p>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'" [visatitle]="'Student Visa'" [visasummary]="'Suspendisse at vestibulum orci. Integer tincidunt quam non consectetur vestibulum.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'" [visatitle]="'Business Visa'" [visasummary]="'Etiam imperdiet neque sapien, quis volutpat orciam imperdiet neque sapien, quis nissim non.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'"[visatitle]="'Tourist & Visitor Visa'" [visasummary]="'Quisque at auctor nisl, eget dignissim dolor. Nulla dolor felis, volutpat quis accumsan quis, mattis id erat.'" ></app-visa>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'" [visatitle]="'Migrate Visa'" [visasummary]="'Tincidunt quam non consectetur suspe ndisse at vestibulum orci. Integer vestibulum.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'" [visatitle]="'Family Visa'" [visasummary]="'Fuhiuis nissim non quis etiam imperdiet neque sapien volutpat orciam imperdiet neque sapien.'"></app-visa>
        </div>
        <div class="col-md-4">
            <app-visa [imagename]="'./assets/student-visa.jpg'" [visatitle]="'Travel Visa'" [visasummary]="'Maecenas non nisi sem blandit porttitor vitae eu gnissim mi, vel convallis ipsum aliquet fermentum suscipit.'"></app-visa>
        </div>
    </div>
</div>
