<section class="my-container main background" style="padding:0px">
    <div class="content">
        <div class="container">
            <h1>Federal Skilled Workers</h1>

        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <app-side-bar></app-side-bar>
        </div>
    <div class="col-md-8 col-lg-8">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <hr class="divider" />
            <div class="entry-content">
                <div class="themetechmount-box-desc-text">
                    <p>Federal Skilled Workers are people with appropriate training, work experience, age and language abilities under one of Canada’s official languages and who is chosen under the Express Entry Immigration program to apply for permanent residency.</p>
                    <p>Under Express Entry, Federal Skilled Workers crosswise over 347 qualified occupations who meet least passage criteria, present an outflow of intrigue profile to the Express Entry Pool. The profiles of competitors in the pool are positioned under a Comprehensive Ranking System. The most elevated positioned hopefuls will be considered for a challenge to apply for changeless home. Competitors getting a welcome must present a full application inside a postponement of 60-days.</p>
                    <p>To be eligible for Express Entry Pool as a Federal Skilled Worker, candidates must meet the accompanying conditions:</p>

                    <ul style="padding-left:15px ;" class="ul-li-before-img">
                        <li>Possess 1 year of full-time paid work experience understanding or equivalent work in the past 10 years in one of 347 qualified occupations recorded under the relevant National Occupational Classification framework.</li>
                        <li>The work experience must be characterized inside Skill Type 0 (Managerial Occupations), Skill Level A (Professional Occupations), or Skill Level B (Technical Occupations and Skilled Trades) inside the importance of the National Occupational Classification framework.</li>
                        <li>Score adequate focuses under the talented laborer point lattice including six determination factors. The present pass stamp is 67 points.</li>
                        <li>Undergo language ability testing from an approved organization and show halfway level dialect abilities in English or French relating to the Canadian Language Benchmark of 7).</li>
                        <li>Possess appropriate settlement funds.</li>
                    </ul>

                    <p>Undergo a fruitful security foundation and restorative examination.</p>
                    <p>To be eligible to apply, you must:</p>

                    <ul style="padding-left:15px;" class="ul-li-before-img">
                        <li>Have a job offer; or</li>
                        <li>Be eligible to work in Canada;</li>
                        <li>Be able to prove that you have enough money to support yourself and your dependents after you arrive in Canada.</li>
                    </ul>
                    <p>See if you qualify under the Federal Skilled Worker Program or different projects in Canada by finishing our free online assessment for Skilled Workers or different classes. We will give you your assessment comes about inside 1-2 business days.</p>
                </div>

            </div><!-- .entry-content -->
            </div>
        </div>
    </div>

    </div>
</section>
