<!--<div class="image-container background ">
    <div class="mainColor">
    <div class="text">Coming Soon</div>
    <img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>

<div class="text-center" style="height: 400px;">
    <br/><br/><br/><br/>
   <img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>
    <h3>
        Coming Soon
    </h3>
</div>
</div>
</div>-->

<section class="my-container  main-f-s  background" style="padding:0px">
  <!--<img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>
        <div class="text">

          <h1> We are Coming Soon..</h1>
          <p id="demo"></p>
          <div class="wrapper">
          <div class="icons">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-youtube-play"></i></a>
              <a href=""><i class="fa fa-paper-plane"></i></a>
            </div>
        </div>
        </div>-->



  <div class="wrapper">
    <h1>coming soon
      <span class="dot">.</span>
    </h1>
    <div style="padding: 40px 40px 30px 40px;">
      <span style="padding:20px;margin-right:10px;font-size:50px;border:2px solid #fff;color:#fff">
        {{days}}
      </span>
      <span style="padding:20px;margin-right:10px;font-size:50px;border:2px solid #fff;color:#fff">
        {{hours}}
      </span>
      <span style="padding:20px;margin-right:10px;font-size:50px;border:2px solid #fff;color:#fff"> {{minutes}} </span>
      <span style="padding:20px;margin-right:10px;font-size:50px;border:2px solid #fff;color:#fff"> {{seconds}} </span>`;
      <br/>
    </div>
     <div class="para"> <span>Days </span> <span> Hours</span> <span> Minutes</span> <span> Seconds</span></div>

    <ul class="social-parent">
      <li class="social-icon">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-flickr" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

</section>
