<section class="my-container  main1  background" style="padding:0px; background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.15)), url('./assets/content/cmg-soon.jpg')">
  <div class="wrapper">
    <h1>coming soon
      <span class="dot">.</span>
    </h1>
    <div style="padding: 40px 40px 30px 40px;">
      <span class="para">
        {{days}}
      </span>
      <span class="para">
        {{hours}}
      </span>
      <span class="para"> 
        {{minutes}} 
      </span>
      <span class="para"> 
        {{seconds}} 
      </span>
      <br/>
    </div>
    <div>
        <span class="para1"> 
            Days
          </span><span class="para1"> 
            Hours
          </span><span class="para1"> 
            Minutes
          </span><span class="para1"> 
            Seconds
          </span>
    </div>
    
    <ul class="social-parent">
      <li class="social-icon">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-flickr" aria-hidden="true"></i>
      </li>
      <li class="social-icon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </li>
    </ul>
  </div>

</section>
