<!--<div class="image-container background ">
    <div class="mainColor">
    <div class="text">Coming Soon</div>
    <img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>

<div class="text-center" style="height: 400px;">
    <br/><br/><br/><br/>
   <img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>
    <h3>
        Coming Soon
    </h3>
</div>
</div>
</div>-->

<section class="my-container  main-f-s  background" style="padding:0px">
    <img style="width: 400px; height: auto;" src="./assets/v9-logo.png" /><br/><br/>
        <div class="text">
          Coming Soon..</div>
 </section>
